@charset "UTF-8";
/*------------------------------------*\
    $Sizes
\*------------------------------------*/
/*------------------------------------*\
    $breakpoints
\*------------------------------------*/
/* mobil */
/* tablets */
/* desktop Monitore */
/* large desktop Monitore */
/* HD desktop Monitore */
/*------------------------------------*\
    $colors
\*------------------------------------*/
/**/
/*color*/
/*------------------------------------*/
body {
  background-color: #F9F7F2; }

.lighter-background {
  background-color: #fcfbf9; }

.inverted- {
  background-color: #333; }

.light-shadow {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1); }

/*------------------*/
.underlined::after {
  content: '';
  display: block;
  height: 1px;
  margin: 0;
  width: 0;
  background-color: #333; }

.inverted- .underlined::after {
  background-color: #F9F7F2; }

.big-underlined::after {
  content: '';
  display: block;
  height: 8px;
  width: 26px;
  margin-top: 12px;
  background-color: #333; }

.thumb-.big-underlined::after {
  content: '';
  display: block;
  height: 3px;
  width: 26px;
  margin-top: 6px;
  background-color: #F9F7F2; }

.underlined, .big-underlined {
  width: 100%; }

.underlined, .big-underlined {
  display: inline-block;
  width: inherit; }

.thumb-.big-underlined {
  width: 100%; }

.no-touch a.thumb-hover-effect:hover .underlined::after, .no-touch a.thumb-hover-effect:hover .big-underlined::after {
  width: 100%; }

.first-background {
  background-color: #F9F7F2 !important; }

.second-background {
  background-color: #333 !important; }

.third-background {
  background-color: #FFFE00 !important; }

.circle, .dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

.dark-circle-with-border {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  box-shadow: inset 0 0 1px #F9F7F2; }

.transparent-dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

/*display handlers*/
/*------------------------------------*/
/* mobil */
.only-mobil, .no-desktop, no-large-desktop {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.only-desktop, .only-large-desktop, .no-mobil, .no-mobil-and-tablet, only-mobil-and-tablet {
  display: none !important; }

/* tablet */
@media only screen and (min-width: 768px) {
  .no-mobil {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .only-mobil {
    display: none !important; }

  .only-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .only-mobil-and-tablet, .no-desktop {
    display: none !important; }

  .no-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

  .only-desktop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }
@media only screen and (min-width: 1241px) {
  .no-large-desktop {
    display: none !important; }

  .only-large-desktop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }
.pattern {
  position: absolute;
  overflow: hidden;
  height: inherit;
  width: 100%;
  margin: 0 auto; }

.pattern-horizontal {
  position: relative;
  height: 100%;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 25%;
  background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255, 0, 171, 0.05) 50%);
  z-index: 1000;
  pointer-events: none;
  max-width: 1441px;
  margin: 0 auto; }

.pattern-vertical {
  position: fixed;
  top: 0;
  height: 2882px;
  width: 2882px;
  max-height: 2882px;
  max-width: 2882px;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 13px;
  background-image: -webkit-linear-gradient(90deg, transparent 1px, rgba(255, 0, 171, 0.05) 1px);
  z-index: 2002;
  pointer-events: none; }

.pattern, .pattern-horizontal, .pattern-vertical {
  display: none; }

@font-face {
  font-family: 'heuristicabold';
  font-style: normal;
  font-weight: 400;
  src: local("heuristica bold"), url(../fonts/heuristica-bold-webfont.woff) format("woff"); }
@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Bold"), url("../fonts/BEBASNEUE BOLD.woff") format("woff"); }
/* Generated by Glyphter (http://www.glyphter.com) on  Fri Feb 12 2016*/
@font-face {
  font-family: 'twotosymbols';
  src: url(../fonts/twotosymbols.eot);
  src: url(../fonts/twotosymbols.eot?#iefix) format("embedded-opentype"), url(../fonts/twotosymbols.woff) format("woff"), url(../fonts/twotosymbols.ttf) format("truetype"), url(../fonts/twotosymbols.svg#twotosymbols) format("svg");
  font-weight: 400;
  font-style: normal; }
[class*='icon-']:before {
  display: inline-block;
  font-family: 'twotosymbols';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-header-logo:before {
  content: '\0041'; }

.icon-close:before {
  content: '\0042'; }

/*------------------------------------*/
/* Typography */
/*------------------------------------*/
body, p {
  font-family: 'Fira Sans',sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  color: #333;
  text-transform: none;
  letter-spacing: 0; }

h1 {
  font-family: 'Majesti Banner Bold','heuristicabold',Georgia,serif;
  font-size: 48px;
  color: #333;
  line-height: 58px; }

h2 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #333;
  line-height: 38px; }

h3 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #333;
  line-height: 26px;
  font-style: italic; }

h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #333;
  line-height: 18px;
  font-style: italic;
  text-transform: uppercase; }

h5 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
  line-height: 34px; }

h6 {
  font-family: 'Bebas Neue Bold',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 26px;
  text-decoration: none; }

a .underlined {
  text-transform: uppercase;
  letter-spacing: 1px; }

q, blockquote {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

sup {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  color: #F9F7F2; }

.inverted- p, .inverted- h1, .inverted- h2, .inverted- h3, .inverted- h4, .inverted- h5, .inverted- h6, .inverted- a, .inverted- q, .inverted- blockquote {
  color: #F9F7F2; }

/*------------secondary Texts------------------*/
.info {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 14px;
  letter-spacing: 1px;
  font-style: normal; }

p.bold {
  font-weight: 400; }

.icons-font {
  font-family: twotosymbols !important;
  font-size: 34px;
  color: #333; }

.header p, .footer p, .footer a {
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 11px; }

.footer sup {
  color: #333; }

.big-underlined {
  text-transform: uppercase; }

.highlight-desktop-image-txt h2 {
  font-style: italic;
  line-height: 38px; }

/* desktop Monitore */
@media only screen and (min-width: 1441px) {
  .header p, .footer p, .footer a {
    font-size: 12px;
    line-height: 14px; } }
.header {
  position: relative;
  width: inherit;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header-left, .header-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-left .header-info {
  padding-left: 13px; }

/* default - mobile */
.header-middle, .header-right {
  padding-left: 13px; }

.header {
  padding: 13px; }

/* tablet */
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .header-middle, .header-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .header {
    padding: 26px; } }
.footer {
  position: relative;
  width: inherit;
  padding: 13px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.footer-left, .footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* default - mobile */
.footer-right-left {
  display: none;
  width: 100%; }

.footer sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: 2px; }

/* tablet */
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .footer {
    padding: 26px; }

  .footer-left, .footer-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .footer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .footer-right-left, .footer-right-right {
    display: block;
    width: inherit; } }
/*------------------------------------*/
/* menu Navigation */
/*------------------------------------*/
body {
  position: relative;
  overflow: visible; }

body.nav-is-visible {
  position: fixed; }

header {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  font-size: 34px; }

.header-left .info, .logo {
  color: #333; }

.nav-is-visible .header-left .info, .nav-is-visible .logo {
  color: #F9F7F2; }

.nav-is-visible .second-menu-wrapper {
  visibility: hidden; }

.icon-close-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #F9F7F2;
  font-size: 100%;
  padding-top: 19px;
  padding-left: 1px;
  font-style: normal;
  text-align: center;
  /* cool effect
      font-style: italic;
      width: 56px;
      */ }

.menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 65px;
  height: 65px; }

.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(51, 51, 51, 0.98);
  overflow: auto;
  text-align: center;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

.nav span {
  background-color: transparent;
  font-size: 12px; }

.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main li.nav-placeholder {
  height: 56px; }

.nav-main li.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li.info p {
  color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.nav-main li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main .header-left {
  position: fixed;
  top: 0; }

.nav-main li, .nav-main li h3 {
  color: #F9F7F2;
  font-style: italic; }

.nav-main li a h3 {
  text-transform: uppercase; }

.nav-main li a h3 {
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative; }

.nav-main li a:hover h3 {
  background-color: rgba(249, 247, 242, 0.8); }

.navi-selected a h3 {
  color: gray; }

.navi-selected a:hover h3 {
  background-color: #333 !important; }

.menu-open, .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.menu-center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer; }

.menu-close {
  display: none; }

.nav-is-visible .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-is-visible .menu-open {
  display: none; }

.menu-open a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.menu-open h6 {
  color: #333;
  padding-top: 2px; }

/*
.header-left {
	display:flex;
	flex-direction:row;
	box-sizing:border-box;
	padding-left:13px;
	padding-top:13px;
	padding-bottom:13px;
}

.header-left .info {
	text-transform:uppercase;
	padding:0;
	padding-left:8px;
	padding-top:6px;
}
*/
.navigation-elts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
      -ms-flex: 1 25%;
          flex: 1 25%;
  height: inherit; }

.navigation-elts .nav-placeholder {
  -webkit-box-flex: 2;
  -webkit-flex: 2 50%;
      -ms-flex: 2 50%;
          flex: 2 50%;
  height: inherit; }

.navigation-right {
  display: none; }

.nav-main li a:hover h3 {
  background-color: transparent; }

/*
.menu-button .underlined {
	display:inline-block;
	width:inherit;
}
*/
.nav-quote-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  line-height: 20vw;
  text-align: center;
  background: none; }

.nav-quote-bg h2 {
  font-family: 'heuristicabold',Georgia,serif;
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-size: 15vw;
  margin: 0;
  box-sizing: border-box;
  padding-top: 104px;
  padding-top: 17vw;
  color: rgba(249, 247, 242, 0.1);
  text-transform: uppercase;
  font-style: italic; }

.nav-quote-bg {
  width: 100%;
  height: 100%;
  visibility: hidden; }

.nav-is-visible .nav-quote-bg {
  visibility: visible; }

/*effects - without animations*/
/*------------------------------------*/
.nav-hover-bg-effect {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 254, 0, 0.7); }

a.hover-effect .underlined::after, .hover-effect .underlined::after {
  width: 100%; }

a.hover-effect:hover .underlined::after, .hover-effect:hover .underlined::after {
  max-width: 100%; }

/* Tabletts */
@media only screen and (min-width: 760px) {
  .nav-quote-bg h2 {
    font-size: 120px;
    font-size: 15vw; } }
/* mobil and Tablets only*/
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .header {
    position: fixed; }

  body.nav-is-visible {
    position: relative; }

  .nav-quote-bg h2 {
    font-size: 170px;
    font-size: 15vw;
    padding-top: 13vw; }

  .nav-intro {
    visibility: hidden; }

  .menu-wrapper {
    margin: auto;
    right: 0;
    left: 0;
    bottom: auto;
    top: 71px; } }
@media only screen and (max-height: 701px) and (min-width: 1025px) {
  .menu-out {
    left: auto;
    top: auto;
    right: 26px;
    bottom: 26px; }

  .nav-intro {
    visibility: visible; } }
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%; }

.header, .footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.Site-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.vertical-centered-content {
  margin: 0; }

.grid-highlight-left {
  position: relative; }

.grid-highlight-left img {
  position: absolute;
  bottom: 0; }

.grid-highlight-left img {
  bottom: 0;
  top: auto;
  right: 0;
  padding-bottom: 104px;
  height: inherit;
  width: auto; }

.grid-description a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.grid-description {
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 20px;
  padding-bottom: 18px; }

.highlight-desktop-image-txt {
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 26px;
  padding-bottom: 18px; }

.grid-description-top {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.highlight-desktop-image-txt .info {
  margin-bottom: 7px; }

/* tablet */
@media only screen and (min-width: 768px) {
  .grid-highlight-left img {
    padding-bottom: 156px;
    height: 100%;
    width: auto;
    right: -52px; }

  .vertical-centered-content {
    margin: 0  auto; } }
@media only screen and (min-width: 1025px) {
  .vertical-centered-content {
    margin-top: 52px; }

  .grid-highlight-left img {
    right: 0;
    height: inherit;
    width: auto;
    padding-bottom: 78px; }

  .grid-description, .highlight-desktop-image-txt {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 46px; } }
/*------------------------------------*/
/* Grid Layout */
/*------------------------------------*/
/*units*/
/*------------------------------------*/
.grid-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 650px;
  max-width: 1441px !important;
  margin: 0  auto; }

.grid-elt {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.grid-elt-wrapper, .grid-elt {
  box-sizing: border-box; }

.grid-elt-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.grid-half-height {
  height: 130px; }

.grid-one-height {
  height: 260px; }

.grid-one-width, .grid-two-width, .grid-three-width, .grid-four-width {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%; }

/* tablet */
@media only screen and (min-width: 768px) {
  .grid-two-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }

  .grid-elt-wrapper {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

  .grid-half-height {
    height: 104px; }

  .grid-one-height {
    height: 208px; } }
@media only screen and (min-width: 1025px) {
  .grid-one-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%; }

  .grid-two-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }

  .grid-three-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
        -ms-flex: 1 75%;
            flex: 1 75%; }

  .grid-four-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }

  .grid-half-height {
    height: 130px; }

  .grid-one-height {
    height: 260px; } }
@media only screen and (min-width: 1441px) {
  .grid-half-height {
    height: 156px; }

  .grid-one-height {
    height: 312px; } }
.thumb-image-Text {
  overflow: hidden; }

.thumb-image-Text .thumb-center-elt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.thumb-center-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px; }

.thumb-center-elt .second-color-txt h3, .thumb-center-elt .second-color-txt .info {
  color: #F9F7F2; }

.thumb-center-elt .first-color-txt h3, .thumb-center-elt .first-color-txt .info {
  color: #333; }

a .thumb-image-Text {
  position: relative; }

.thumb-image-Text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F7F2; }

.thumb-image-Text img {
  width: 100%;
  height: auto; }

.thumb-center-elt {
  padding-bottom: 13px; }

@media only screen and (min-width: 1025px) {
  .thumb-center-elt {
    padding-left: 26px; } }
.nav-is-visible .nav-main {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.54, 0.19, 1);
          transition-timing-function: cubic-bezier(0.55, 0.54, 0.19, 1); }

.nav-main {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0, 0.5, 0.5);
          transition-timing-function: cubic-bezier(0.81, 0, 0.5, 0.5); }

.touch .nav-is-visible .nav-quote-bg, .no-touch .nav-is-visible .nav-quote-bg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99);
          transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99); }
.touch .header-left .info, .touch .logo, .no-touch .header-left .info, .no-touch .logo {
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }
.touch .nav-is-visible .header-left .info, .touch .nav-is-visible .logo, .no-touch .nav-is-visible .header-left .info, .no-touch .nav-is-visible .logo {
  color: #F9F7F2;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
.touch .nav-is-visible .second-menu-wrapper, .no-touch .nav-is-visible .second-menu-wrapper {
  opacity: 0; }
.touch .second-menu-wrapper, .no-touch .second-menu-wrapper {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }
.touch .right-navi-is-open .main-content, .no-touch .right-navi-is-open .main-content {
  opacity: .1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
.touch .Site-content, .no-touch .Site-content {
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media only screen and (min-width: 768px) {
  .no-touch .underlined:after, .no-touch .big-underlined:after {
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .big-underlined:after {
    min-width: 104px;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  .no-touch .thumb-.big-underlined:after {
    min-width: 52px;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  .no-touch .menu-button .underlined:after, .no-touch .menu-button .big-underlined:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .no-touch a.thumb-hover-effect:hover .underlined::after, .no-touch .thumb-hover-effect:hover .big-underlined::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .thumb-hover-preview-effect:hover .thumb-center-elt.with-image {
    box-shadow: inset 0 0 0 200px rgba(255, 254, 0, 0.5);
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .thumb-hover-preview-effect .thumb-center-elt.with-image {
    box-shadow: inset 0 0 0 0 #cccb00;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .thumb-hover-preview-effect:hover .thumb-center-elt {
    box-shadow: inset 0 0 0 200px #cccb00;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .thumb-hover-preview-effect:hover .first-color-txt h3, .no-touch .thumb-hover-preview-effect:hover .first-color-txt p {
    color: #F9F7F2; }
  .no-touch .thumb-hover-preview-effect .thumb-image-Text {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .thumb-hover-preview-effect:hover .thumb-image-Text {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .thumb-hover-preview-effect .first-color-txt, .no-touch .thumb-hover-preview-effect .second-color-txt {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .thumb-hover-preview-effect:hover .first-color-txt, .no-touch .thumb-hover-preview-effect:hover .second-color-txt {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s; }
  .no-touch .hover-zoomUp-effect .target-effect {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .hover-zoomUp-effect:hover .target-effect {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch a.hover-effect:hover .underlined::after, .no-touch .hover-effect:hover .underlined::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .nav-hover-bg-effect {
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .no-touch .nav-elt:hover .nav-hover-bg-effect {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .no-touch .nav-elt:hover h3 {
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    color: #333; }
  .no-touch .nav-elt h3 {
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease; } }

/*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
.no-touch .thumb-hover-effect:hover .big-underlined::after {
  background-color: black !important;
  color: black !important; }
.no-touch .thumb-hover-effect:hover .second-color-txt h3 {
  color: black !important; }
.no-touch .thumb-hover-effect:hover .second-color-txt {
  mix-blend-mode: overlay; }
