@charset "UTF-8";
/*------------------------------------*\
    $Sizes
\*------------------------------------*/
/*------------------------------------*\
    $breakpoints
\*------------------------------------*/
/* mobil */
/* mobil-small */
/* tablets */
/* desktop Monitore */
/* large desktop Monitore */
/* HD desktop Monitore */
/*------------------------------------*\
    $colors
\*------------------------------------*/
.nhkjh {
  background-color: #181818; }

/**/
/*------------------------------------*\
    z-index : from lowest to highest
\*------------------------------------*/
/*only on Content.html level*/
/*only on Content.html level*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out; }

.pace-inactive {
  display: none;
  height: 0; }

.pace-running > *:not(.pace) {
  opacity: 0; }

.pace-done {
  opacity: 1; }

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
  background: #333;
  pointer-events: none; }

/*color*/
/*------------------------------------*/
body {
  background-color: #F9F7F2; }

.hideDuringLoading {
  visibility: hidden;
  opacity: 0; }

.inverted- {
  background-color: #333; }

.noOpacity {
  opacity: 0; }

/*---------------------*/
.vertical-center-headline {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -12px; }

/* tablet */
/* desktop */
@media only screen and (min-width: 1025px) {
  .vertical-center-headline {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }
/*------------------*/
.top-line::before {
  content: '';
  display: block;
  height: 1px;
  margin: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.1); }

.bottom-line::after {
  content: '';
  display: block;
  height: 1px;
  margin: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.1); }

.naviline::before {
  content: '';
  display: block;
  height: 1px;
  margin: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.1); }

.underlined::after {
  content: '';
  display: block;
  height: 2px;
  margin: 0;
  width: 0;
  background-color: #333; }

.small-underlined::after {
  content: '';
  display: block;
  height: 1px;
  margin: 0;
  width: 0;
  background-color: #333; }

.inverted- .underlined::after, .inverted- .small-underlined::after {
  background-color: #F9F7F2; }

.big-underlined::after {
  content: '';
  display: block;
  height: 8px;
  width: 26px;
  margin-top: 8px;
  background-color: #333; }

.thumb-.big-underlined::after {
  content: '';
  display: block;
  height: 3px;
  width: 26px;
  margin-top: 6px;
  background-color: #F9F7F2; }

.underlined, .big-underlined, .small-underlined {
  width: 100%; }

.underlined, .big-underlined, .small-underlined {
  display: inline-block;
  width: inherit; }

.noMobileUnderlined::after {
  width: 0 !important; }

@media only screen and (min-width: 768px) {
  .noMobileUnderlined::after {
    width: inherit !important; } }
.thumb-.big-underlined {
  width: 100%; }

.round {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 15px;
  height: 15px;
  background: #333;
  margin: 0 0 4px 0;
  border-radius: 50%; }

.round svg {
  position: absolute;
  width: 7px;
  height: 7px;
  margin: 4px;
  left: 0; }

.round svg path {
  stroke: #F9F7F2;
  fill: none;
  stroke-width: 8; }

a .socialIcons {
  padding: 13px; }

.socialIcons svg {
  padding: 12px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  fill: #F9F7F2;
  color: #333;
  background-color: #333; }

.socialIcons.xing svg {
  width: 19px;
  height: 19px;
  padding: 14px; }

.socialconsWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 104px; }

.no-touch a.thumb-hover-effect:hover .underlined::after, .no-touch a.thumb-hover-effect:hover .big-underlined::after, .no-touch a.thumb-hover-effect:hover .small-underlined::after {
  width: 100%; }
.no-touch a .small-underlined::after {
  visibility: visible; }

a .small-underlined::after {
  visibility: hidden; }

.first-background {
  background-color: #F9F7F2; }

.second-background {
  background-color: #333 !important; }

.third-background {
  background-color: #181818 !important; }

.transparent-second-background {
  background-color: rgba(26, 26, 26, 0.7) !important; }

.one_highlight_color-background {
  background-color: #F4DDDC !important; }

.two_highlight_color-background {
  background-color: #A4ECD9 !important; }

.three_highlight_color-background {
  background-color: #F9CEB0 !important; }

.lab-bg {
  background-color: #F9CEB0 !important; }

.darker-bg {
  background-color: #F0EDE4 !important; }

.circle, .dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 1px solid #F0EDE4;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05); }

.dark-circle-with-border {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 1px solid #F0EDE4; }

.transparent-dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .circle, .dark-circle {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    box-shadow: none; } }
/*display handlers*/
/*------------------------------------*/
/* mobil */
.only-mobil, .no-desktop, no-large-desktop, .no-tablet {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: visible; }

.only-desktop, .only-large-desktop, .no-mobil, .no-mobil-and-tablet, only-mobil-and-tablet {
  display: none !important;
  visibility: hidden; }

/* tablet */
@media only screen and (min-width: 768px) {
  .only-mobil, .no-tablet {
    display: none !important;
    visibility: hidden; }

  .no-mobil, .only-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible; } }
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .only-mobil-and-tablet, .no-desktop {
    display: none !important;
    visibility: hidden; }

  .no-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible; }

  .only-desktop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible; } }
@media only screen and (min-width: 1241px) {
  .no-large-desktop {
    display: none !important;
    visibility: hidden; }

  .only-large-desktop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: visible; } }
.pattern {
  position: absolute;
  overflow: hidden;
  height: inherit;
  width: 100%;
  margin: 0 auto;
  z-index: auto; }

.pattern-horizontal {
  position: relative;
  height: 100%;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 25%;
  background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255, 0, 171, 0.05) 50%);
  z-index: auto;
  pointer-events: none;
  max-width: 1441px;
  margin: 0 auto; }

.pattern-vertical {
  position: fixed;
  top: 0;
  height: 2882px;
  width: 2882px;
  max-height: 2882px;
  max-width: 2882px;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 13px;
  background-image: -webkit-linear-gradient(90deg, transparent 1px, rgba(255, 0, 171, 0.05) 1px);
  z-index: auto;
  pointer-events: none; }

.pattern svg {
  pointer-events: none; }

.pattern-horizontal, .pattern-vertical {
  display: none; }

.pattern svg {
  z-index: auto; }

.pattern {
  display: none; }

@font-face {
  font-family: 'heuristicabold';
  font-style: normal;
  font-weight: 400;
  src: local("heuristica bold"), url(../fonts/heuristica-bold-webfont.woff) format("woff"); }
@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Bold"), url("../fonts/BEBASNEUE BOLD.woff") format("woff"); }
/* Generated by Glyphter (http://www.glyphter.com) on  Fri Feb 12 2016*/
@font-face {
  font-family: 'twotosymbols';
  src: url(../fonts/twotosymbols.eot);
  src: url(../fonts/twotosymbols.eot?#iefix) format("embedded-opentype"), url(../fonts/twotosymbols.woff) format("woff"), url(../fonts/twotosymbols.ttf) format("truetype"), url(../fonts/twotosymbols.svg#twotosymbols) format("svg");
  font-weight: 400;
  font-style: normal; }
[class*='icon-']:before {
  display: inline-block;
  font-family: 'twotosymbols';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-header-logo:before {
  content: '\0041'; }

.icon-close:before {
  content: '\0042'; }

/*------------------------------------*/
/* Typography */
/*------------------------------------*/
body, p {
  font-family: 'Fira Sans',sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  color: #333;
  text-transform: none;
  letter-spacing: 0; }

h1 {
  font-family: 'Merriweather',Georgia,serif;
  font-size: 48px;
  font-weight: 700;
  color: #333;
  line-height: 58px;
  letter-spacing: 0px; }

h2 {
  font-family: 'Merriweather',Georgia,serif;
  font-weight: 900;
  font-size: 36px;
  color: #333;
  line-height: 52px; }

h3 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
  line-height: 26px;
  font-style: normal; }

h4 {
  font-family: 'Merriweather',Georgia,serif;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 26px; }

h5 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #333;
  line-height: 39px; }

h6 {
  font-family: 'Bebas Neue Bold',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 26px;
  text-decoration: none; }

q, blockquote {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

sup {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  color: #F9F7F2; }

.inverted- p, .inverted- h1, .inverted- h2, .inverted- h3, .inverted- h4, .inverted- h5, .inverted- h6, .inverted- a, .inverted- q, .inverted- blockquote {
  color: #F9F7F2; }

.responsive-span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.responsive-span span {
  line-height: 13px; }

/*------------secondary Texts------------------*/
.info {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 14px;
  letter-spacing: 1px;
  font-style: normal; }

p.bold, strong, b {
  font-weight: 400; }

.icons-font {
  font-family: twotosymbols !important;
  font-size: 34px;
  color: #333; }

.header p, .footer p, .footer a, .nav-hightlight p, .Site-highlight-wrapper a, .about-content a, .content-main a, .project-main a {
  letter-spacing: 1px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400; }

.grid-thumb-txt a, .grid-thumb-txt p, .contact-content a {
  letter-spacing: 1px;
  text-transform: none !important;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400; }

.grid-thumb-txt p.bold {
  letter-spacing: 0px; }

.contact-content .info {
  font-size: 13px; }

.contact-content p, .contact-content a {
  font-size: 15px;
  line-height: 26px; }

.footer sup {
  color: #333; }

.highlight-desktop-image-txt h2 {
  font-style: italic;
  line-height: 38px; }

/* desktop Monitore */
/*
@media only screen and (min-width: $media_HD_desktop_width) {
	.header p,.footer p,.footer a{
		font-size:12px;
		line-height:14px;   
	}
}
*/
.header {
  position: absolute;
  width: inherit;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3000;
  padding: 13px;
  box-sizing: border-box; }

.header {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.header-left, .header-middle, .header-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header-right {
  display: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header-middle {
  display: none;
  /* none Visible mobil*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-left .header-info {
  margin-left: 13px; }

.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #F0EDE4;
  z-index: -1000;
  height: 676px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.image-bg {
  background-image: url(../imgs/interview_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.header-shrink {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate3d(0, -676px, 0);
          transform: translate3d(0, -676px, 0); }

.-zoomup {
  opacity: 1; }

/* tablet */
@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; } }
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .header {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .header-left, .header-right, .header-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .header-right-left, .header-right-right {
    display: block;
    width: inherit; } }
.footer {
  position: absolute;
  width: inherit;
  padding: 13px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  top: auto;
  z-index: 4000; }

.footer.-content {
  position: relative; }

.footer.-fixed {
  position: fixed;
  z-index: 4000; }

.footer-left, .footer-right, .footer-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* default - mobile */
.footer-right-left {
  display: none;
  width: 100%; }

.footer sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: 7px; }

.footer-left, .footer-middle {
  display: none; }

/* tablet */
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .footer-left, .footer-right, .footer-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .footer-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .footer-right-left, .footer-right-right {
    display: block;
    width: inherit; } }
/* HD desktop Monitore */
@media only screen and (min-width: 1441px) {
  .footer {
    padding: 26px; } }
.thumb-image-Text {
  overflow: hidden; }

.thumb-image-Text .thumb-center-elt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.thumb-center-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px; }

.second-color-txt h4 {
  line-height: 26px; }

.thumb-center-elt .second-color-txt h3, .thumb-center-elt .second-color-txt .info, .second-color-txt h4 {
  color: #F9F7F2 !important; }

.thumb-center-elt .first-color-txt h3, .thumb-center-elt .first-color-txt .info, .first-color-txt h4 {
  color: #333 !important; }

a .thumb-image-Text {
  position: relative; }

.thumb-image-Text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F7F2; }

.thumb-image-Text img {
  width: 100%;
  height: auto; }

.thumb-center-elt {
  padding-bottom: 23px; }

.thumb-center-elt .second-color-txt, .thumb-center-elt .first-color-txt {
  padding-bottom: 8px; }

@media only screen and (min-width: 1025px) {
  .thumb-center-elt {
    padding-left: 26px; } }
/*------------------------------------*/
/* menu Navigation */
/*------------------------------------*/
body {
  position: relative;
  overflow: visible; }

body.nav-is-visible {
  position: fixed; }

@media only screen and (min-width: 1025px) {
  html.nav-is-visible {
    overflow-x: hidden;
    overflow-y: hidden; } }
header {
  /*
  position:absolute;
  display:flex;
  align-items:center;
  */ }

.logo {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  font-size: 34px; }

.header-left .info, .logo {
  color: #333; }

.nav-is-visible .header-left .info, .nav-is-visible .logo {
  color: #F9F7F2; }

.nav-is-visible .second-menu-wrapper {
  visibility: hidden; }

.icon-close-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #F9F7F2;
  font-size: 100%;
  padding-top: 19px;
  padding-left: 1px;
  font-style: normal;
  text-align: center; }

.menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 65px;
  height: 65px; }

.nav-small .menuBgEffect {
  position: absolute;
  height: 100%;
  width: 100%; }

.nav-small {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
  z-index: 40000; }

.nav-small-is-visible .nav-small {
  visibility: visible; }

.nav-small ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.nav-small li {
  display: inline;
  list-style-type: none;
  width: 100%;
  margin: 0 26px 0 26px; }

.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #F0EDE4;
  overflow: auto;
  text-align: center;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

.nav span {
  background-color: transparent;
  font-size: 12px; }

.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main li.nav-placeholder {
  height: 56px; }

.nav-main li.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li.info p {
  color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-transform: uppercase; }

.nav-main li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main .header-left {
  position: fixed;
  top: 0; }

.nav-main li, .nav-main li h4 {
  color: #333; }

.nav-main li a h4 {
  padding-top: 13px;
  padding-bottom: 4px;
  position: relative; }

.navi-selected a h4 {
  color: gray; }

.navi-selected a:hover h4 {
  background-color: #333 !important; }

.menu-wrapper {
  z-index: 50000; }

.menu-open, .menu-close {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.menu-center {
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer; }

.menuBgEffect {
  z-index: -10;
  position: absolute;
  left: 50%; }
  .menuBgEffect .menuBgText {
    position: absolute;
    box-sizing: content-box;
    overflow: hidden; }
    .menuBgEffect .menuBgText p {
      font-family: 'Fira Sans',sans-serif;
      font-weight: 800;
      font-size: 90px;
      line-height: 65px;
      color: rgba(51, 51, 51, 0.05);
      text-transform: uppercase; }
  .menuBgEffect .topEffect {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%); }
    .menuBgEffect .topEffect p {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
      opacity: 1; }
  .menuBgEffect .bottomEffect {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .menuBgEffect .bottomEffect p {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      opacity: 0; }

.menu-close {
  display: none; }

.nav-is-visible .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-is-visible .menu-open {
  display: none; }

.menu-open a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.menu-open h6 {
  color: #333;
  padding-top: 2px; }

.navigation-elts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
      -ms-flex: 1 25%;
          flex: 1 25%;
  height: inherit; }

.navigation-elts .nav-placeholder {
  -webkit-box-flex: 2;
  -webkit-flex: 2 50%;
      -ms-flex: 2 50%;
          flex: 2 50%;
  height: inherit; }

.navigation-right {
  display: none;
  z-index: 50; }

.nav-main li a:hover h3 {
  background-color: transparent; }

.nav-quote-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  line-height: 20vw;
  text-align: center;
  background: none; }

.nav-quote-bg h2 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-size: 15vw;
  margin: 0;
  box-sizing: border-box;
  padding-top: 104px;
  padding-top: 17vw;
  color: rgba(51, 51, 51, 0.05);
  text-transform: uppercase; }

.nav-quote-bg {
  width: 100%;
  height: 100%;
  visibility: hidden; }

.nav-is-visible .nav-quote-bg {
  visibility: visible; }

.nav-main .underlined::after, .menu-wrapper .small-underlined::after {
  visibility: hidden; }

/*effects - without animations*/
/*------------------------------------*/
/*
.nav-hover-bg-effect {
	width:0;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:transparentize($first_color,0.98);
}

.nav-elt:hover .nav-hover-bg-effect {
	width: 100%;
}*/
a.hover-effect .underlined::after, .hover-effect .underlined::after, a.hover-effect .small-underlined::after, .hover-effect .small-underlined::after {
  width: 100%; }

a.hover-effect:hover .underlined::after, .hover-effect:hover .underlined::after, a.hover-effect:hover .small-underlined::after, .hover-effect:hover .small-underlined::after {
  max-width: 100%; }

/* Tabletts */
@media only screen and (min-width: 760px) {
  .nav-quote-bg h2 {
    font-size: 120px;
    font-size: 15vw; } }
/* mobil and Tablets only*/
@media only screen and (min-width: 1025px) {
  .nav-quote-bg h2 {
    color: rgba(51, 51, 51, 0.02); } }
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .header {
    position: fixed; }

  .nav-main .underlined::after, .menu-wrapper .small-underlined::after {
    visibility: visible; }

  body.nav-is-visible {
    position: relative; }

  .nav-quote-bg h2 {
    font-size: 170px;
    font-size: 15vw;
    padding-top: 13vw; }

  .nav-intro {
    visibility: hidden; }

  .menu-wrapper {
    margin: auto;
    right: 0;
    left: 0;
    bottom: auto;
    top: 13px; }

  .menu-main-wrapper {
    top: 71px !important; }

  .nav-small {
    top: 0; } }
@media only screen and (max-height: 701px) and (min-width: 1025px) {
  .menu-out {
    left: auto;
    top: auto;
    right: 26px;
    bottom: 26px; }

  .nav-intro {
    visibility: visible; } }
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  height: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

.header, .footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute; }

.vertical-centered-content {
  margin: 0;
  height: 100%;
  background-color: blue; }

.Site-highlight-wrapper.grid-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100% !important;
  mix-blend-mode: multiply; }

.Site-highlight-left {
  height: 100%;
  width: 50%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  Justify-content: center; }

.Site-highlight-left img {
  left: 100%;
  right: auto;
  bottom: auto;
  top: auto;
  position: relative;
  width: auto;
  height: 100%; }

.Site-highlight-right {
  height: 100px;
  width: 50%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding-left: 260px;
  top: -56px; }

.Site-highlight-one, .Site-highlight-two, .Site-highlight-three {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.Site-highlight-one, .Site-highlight-two, .Site-highlight-three {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99);
          transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99); }

.Site-highlight-one {
  background-color: #F9F7F2;
  z-index: auto;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(0%, 0%) rotate(0deg);
          transform: translate(0%, 0%) rotate(0deg); }

.Site-highlight-two {
  background-color: #F9F7F2;
  z-index: auto; }

.Site-highlight-three {
  background-color: #F9F7F2;
  z-index: auto; }

.Site-highlight-one.loading {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-duration: 5000ms;
          transition-duration: 5000ms;
  -webkit-transform: translate(-150%, -250%) rotate(45deg);
          transform: translate(-150%, -250%) rotate(45deg);
  z-index: auto; }

.Site-highlight-two.loading {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-duration: 5000ms;
          transition-duration: 5000ms;
  -webkit-transform: translate(150%, -250%) rotate(-45deg);
          transform: translate(150%, -250%) rotate(-45deg);
  z-index: auto; }

.Site-highlight-three.loading {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition-duration: 5000ms;
          transition-duration: 5000ms;
  -webkit-transform: translate(-150%, 250%) rotate(45deg);
          transform: translate(-150%, 250%) rotate(45deg);
  z-index: auto; }

.nav-hightlight {
  position: absolute;
  top: 0;
  left: 0; }

.nav-hightlight.grid-content {
  width: auto; }

.second-menu-wrapper.is-invisible, .nav-hightlight.is-invisible {
  display: none; }

.nav-hightlight-main {
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  padding-left: 13px;
  pointer-events: none;
  z-index: auto; }

.nav-hightlight-element h4, .nav-hightlight-element h5, .nav-hightlight-element .content {
  float: left;
  line-height: 26px; }

.nav-hightlight-element .animatedBG {
  position: absolute;
  padding: 8px 0px 4px 0px;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -11;
  background-color: #F0EDE4; }

.nav-hightlight-element h4 {
  position: relative;
  padding: 8px 10px 4px 10px;
  top: -8px;
  left: -10px;
  z-index: 100; }

.Site-highlight-one .round svg path {
  stroke: #F4DDDC; }

.Site-highlight-two .round svg path {
  stroke: #A4ECD9; }

.Site-highlight-three .round svg path {
  stroke: #F9CEB0; }

.nav-hightlight-element h5 {
  font-weight: 200;
  letter-spacing: 1px;
  font-style: normal;
  padding-right: 13px; }

.nav-hightlight-info {
  margin-left: 0; }

.nav-hightlight a, .nav-hightlight p {
  float: left;
  pointer-events: auto;
  padding-bottom: 26px; }

.Site-highlight-wrapper p {
  padding-bottom: 26px; }

.Site-highlight-wrapper h1 {
  padding-bottom: 26px; }

.grid-description a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.grid-description {
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 17px; }

.grid-description-top p {
  margin-bottom: 13px; }

.highlight-desktop-image-txt {
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 28px;
  padding-bottom: 18px; }

.highlight-desktop-image-txt p {
  padding-top: 0; }

.grid-description-top {
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.highlight-desktop-image-txt .info {
  margin-bottom: 8px; }

/* tablet */
@media only screen and (min-width: 768px) {
  .Site-highlight-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  .Site-highlight-left img {
    bottom: auto;
    top: auto;
    width: 900px;
    height: 680px; }

  .nav-hightlight-info {
    margin-left: 39px; }

  .nav-hightlight-element a {
    padding-bottom: 26px; }

  .grid-highlight-left {
    height: 416px !important; }

  .main-content {
    padding-top: 52px; }

  .vertical-centered-content {
    margin: 0  auto; }

  .grid-description {
    padding-top: 22px; } }
@media only screen and (min-width: 1025px) {
  .nav-hightlight-main {
    padding-left: 26px; }

  .Site-highlight-left img {
    left: 50%; }

  .grid-highlight-left h2 {
    height: 100%;
    font-size: 48px;
    line-height: 52px; }

  .vertical-centered-content {
    margin-top: 52px; }

  .grid-highlight-left {
    height: 520px !important; }

  .grid-description, .highlight-desktop-image-txt {
    padding-left: 26px;
    padding-right: 26px; }

  .highlight-desktop-image-txt {
    padding-top: 84px; }

  .grid-description {
    padding-top: 47px; } }
@media only screen and (min-width: 1441px) {
  .grid-highlight-left {
    height: 624px !important; }

  .nav-hightlight-main {
    padding-left: 104px; } }
/*------------------------------------*/
/* Grid Layout */
/*------------------------------------*/
/*units*/
/*------------------------------------*/
.grid-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0  auto; }

.grid-elt {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.grid-elt-wrapper, .grid-elt {
  box-sizing: border-box; }

.grid-elt-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.grid-half-height {
  height: 130px; }

.grid-one-height {
  height: 260px; }

.grid-one-width, .grid-two-width, .grid-three-width, .grid-four-width {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%; }

/* tablet */
@media only screen and (min-width: 768px) {
  /*
  	.grid-content {
  		height: 650px;
  	}
  	*/
  .grid-two-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }

  .grid-elt-wrapper {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

  .grid-half-height {
    height: 104px; }

  .grid-one-height {
    height: 208px; } }
@media only screen and (min-width: 1025px) {
  .grid-one-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%; }

  .grid-two-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }

  .grid-three-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
        -ms-flex: 1 75%;
            flex: 1 75%; }

  .grid-four-width {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }

  .grid-half-height {
    height: 130px; }

  .grid-one-height {
    height: 260px; } }
@media only screen and (min-width: 1441px) {
  .vertical-centered-content {
    margin-top: 208px; }

  .grid-half-height {
    height: 156px; }

  .grid-one-height {
    height: 312px; } }
.nav-is-visible .nav-main {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.54, 0.19, 1);
          transition-timing-function: cubic-bezier(0.55, 0.54, 0.19, 1); }

.nav-main {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0, 0.5, 0.5);
          transition-timing-function: cubic-bezier(0.81, 0, 0.5, 0.5); }

.touch .nav-is-visible .nav-quote-bg, .no-touch .nav-is-visible .nav-quote-bg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99);
          transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99); }
.touch .header-left .info, .touch .logo, .no-touch .header-left .info, .no-touch .logo {
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }
.touch .nav-is-visible .header-left .info, .touch .nav-is-visible .logo, .no-touch .nav-is-visible .header-left .info, .no-touch .nav-is-visible .logo {
  color: #F9F7F2;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
.touch .nav-is-visible .second-menu-wrapper, .no-touch .nav-is-visible .second-menu-wrapper {
  opacity: 0; }
.touch .second-menu-wrapper, .no-touch .second-menu-wrapper {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }
.touch .right-navi-is-open .content-main, .touch .right-navi-is-open .project-main, .no-touch .right-navi-is-open .content-main, .no-touch .right-navi-is-open .project-main {
  opacity: .1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
.touch .main-content, .no-touch .main-content {
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media only screen and (min-width: 768px) {
  .no-touch .underlined:after, .no-touch .big-underlined:after, .no-touch .small-underlined:after {
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .big-underlined:after {
    min-width: 104px;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  .no-touch .thumb-.big-underlined:after {
    min-width: 52px;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5); }
  .no-touch .menu-button .underlined:after, .no-touch .menu-button .big-underlined:after, .no-touch .menu-button .small-underlined:after, .no-touch .nav-small .small-underlined:after, .no-touch a.nav-link .underlined::after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .no-touch a.thumb-hover-effect:hover .underlined::after, .no-touch .thumb-hover-effect:hover .big-underlined::after, .no-touch .thumb-hover-effect:hover .small-underlined:after, .no-touch a.nav-link:hover .underlined::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .thumb-hover-preview-effect:hover .thumb-center-elt.with-image {
    box-shadow: inset 0 0 0 200px rgba(24, 24, 24, 0.5);
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .thumb-hover-preview-effect .thumb-center-elt.with-image {
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .thumb-hover-preview-effect:hover .thumb-center-elt {
    box-shadow: inset 0 0 0 200px black;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .thumb-hover-preview-effect:hover .first-color-txt h3, .no-touch .thumb-hover-preview-effect:hover .first-color-txt p {
    color: #F9F7F2; }
  .no-touch .thumb-hover-preview-effect .thumb-image-Text {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .thumb-hover-preview-effect:hover .thumb-image-Text {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .thumb-hover-preview-effect .first-color-txt, .no-touch .thumb-hover-preview-effect .second-color-txt {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .thumb-hover-preview-effect:hover .first-color-txt, .no-touch .thumb-hover-preview-effect:hover .second-color-txt {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s; }
  .no-touch .hover-zoomUp-effect .target-effect {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .hover-zoomUp-effect:hover .target-effect {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch a.hover-effect:hover .underlined::after, .no-touch .hover-effect:hover .underlined::after, .no-touch a.hover-effect:hover .small-underlined::after, .no-touch .hover-effect:hover .small-underlined::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .nav-hover-bg-effect {
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .no-touch .nav-elt:hover .nav-hover-bg-effect {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .no-touch .nav-elt:hover h3 {
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    color: #333; }
  .no-touch .nav-elt h3 {
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease; } }
@media only screen and (min-width: 1025px) {
  .no-touch .menu-button:hover .menuBgEffect p {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .4s ease-out, -webkit-transform 0.6s;
    transition: opacity .4s ease-out, -webkit-transform 0.6s;
    transition: opacity .4s ease-out, transform 0.6s;
    transition: opacity .4s ease-out, transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .no-touch .nav-small:hover .menuBgEffect p {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .4s ease-out, -webkit-transform 0.6s;
    transition: opacity .4s ease-out, -webkit-transform 0.6s;
    transition: opacity .4s ease-out, transform 0.6s;
    transition: opacity .4s ease-out, transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .no-touch .menu-button:hover .menuBgEffect .topEffect, .no-touch .menu-button:hover .menuBgEffect .bottomEffect {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .no-touch .nav-small:hover .menuBgEffect .topEffect, .no-touch .nav-small:hover .menuBgEffect .bottomEffect {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

/*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
.no-touch .thumb-hover-effect:hover .big-underlined::after {
  background-color: black !important;
  color: black !important; }
.no-touch .thumb-hover-effect:hover .second-color-txt h3 {
  color: black !important; }
.no-touch .thumb-hover-effect:hover .second-color-txt {
  mix-blend-mode: overlay; }
.no-touch .thumb-hover-preview-effect:hover .thumb-center-elt.with-image {
  box-shadow: inset 0 0 0 200px rgba(24, 24, 24, 0.5); }
