/*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
.no-touch {
	.thumb-hover-effect:hover .big-underlined::after{
			background-color: black !important;
			color: black !important;
	}
	.thumb-hover-effect:hover  .second-color-txt h3{
			color: black !important;
	}
	.thumb-hover-effect:hover  .second-color-txt{
			mix-blend-mode: overlay;
	}
	.thumb-hover-preview-effect:hover .thumb-center-elt.with-image {
			box-shadow:inset 0 0 0 200px $highlight_transparent_color;
			//mix-blend-mode:screen;
		}
}
