@import 'variables';
@import 'general';
@import 'fonts';
@import 'pattern';
@import 'header';
@import 'footer';
@import 'thumbs';
@import 'navigation';
@import 'secondaryNavigation';



/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html,body {
	height:100%;
}
body {
	position:relative;
	margin:0 auto;
	width:100%;
	overflow-x: hidden;
}
.header{
	position: relative;
	display: inline-block;
	/*
	background-color: $first_color;
	height: $grid_height_unit*4;
	opacity: 0.95;
	*/
}
.content-main, .project-main{
	position:relative;
	margin:0 auto;
	width: 100%;
	transform:translateX(0);
	transition-property:transform;
	transition-duration:.4s;
	transition-timing-function:ease;
	overflow: hidden;
	// z-index: $zIndex--content-main;
}
.project-main{
	z-index:auto;
}
.right-navi-is-open .content-main,.right-navi-is-open .project-main{
	opacity: 0.1;
}
.centered-max-width{
	margin:0 auto;
	width: 100%;
	max-width: $media_large_desktop_width;
}
.headline ,.next-project{
	text-align: center;
	margin:0 auto;
	position:relative;
	box-sizing: border-box;
	max-width: $grid_height_unit*34;
	
	padding-top: $grid_height_unit*2;
}
.project-main h1 {
	font-size: 8vw;
	line-height: 11vw;
	
}
.project-main h5 {
	font-size: 15px;
	line-height: $grid_height_unit;
}
.project-main .headline,.project-main .next-project {
	text-align: left;
	padding-top: $grid_height_unit;
	
}
.headline .info,.next-project .info {
	margin-top: $grid_height_unit;
}
.introduction{
	text-align: center;
	margin:0 auto;
	padding-top: $grid_height_unit*2;
	max-width: $grid_height_unit*24;
}
.project-main .introduction{

	text-align: left;
	margin:0;
	padding-top: $grid_halfHeight_unit;
	padding-bottom: $grid_halfHeight_unit;
}
.simple-copy {
	margin:0 auto;
	padding-top: $grid_height_unit*2;
	margin-bottom: $grid_height_unit*2;
	word-break: break-word;

}
.info-elt {
	margin:0 auto;
	word-break: break-word;

}
.project-link{
	z-index: 30000;
}
.simple-copy .bold {
	margin-bottom: $grid_halfHeight_unit;
}
.underlined-big {
	width: 100%;
}
.underlined-big::after {
	content:'';
	display:block;
	height:1px;
	max-width:$grid_halfHeight_unit;
	margin:0;
	margin-top: $grid_halfHeight_unit;
	background-color: $second_color;
}
.simple-copy h3{
	margin-bottom: $grid_height_unit;
	}
.simple-copy,.introduction,.headline,.next-project,.grid-text-elt,.half-left-width-text,.half-right-width-text,.grid-thumb-txt {

	padding-left: $grid_halfHeight_unit;
	padding-right: $grid_halfHeight_unit;
	box-sizing:border-box;
}
.grid-text-elt,.half-left-width-text,.half-right-width-text {

	padding-top:$grid_halfHeight_unit;
}
// Grid text + Image combinations

.full-Width-wrapper{

	position:relative;
	//margin:0 auto;
	margin:0;
	padding:0;
	
	height: 260px; // default
	width: auto;
	overflow: hidden;
	
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.full-width-image{
	position: relative;
	width: 0;
	height: inherit;
    background-color: black;
}
.full-width-image img {
	position: absolute;
	transform: 	translate(-50%,0);
	height: inherit;
}

/////////////////
/////////////////
/////////////////
/////////////////

.half-left-width-wrapper,.half-right-width-wrapper{

	position:relative;
	width: 100%;
	height: 460px;
}
.half-left-width-text,.half-right-width-text{

	position:relative;
	width: 100%;
	height: 260px;
	padding-bottom: $grid_height_unit;
	
}
.extra-top-padding{
	padding-top: $grid_halfHeight_unit;
}
.half-right-width-text{
	position: absolute;
	right: 0;
	left: auto;
	
}
.projects-wrapper{
	padding-top: $grid_height_unit;
	padding-bottom: $grid_height_unit;
}
.projects-wrapper.top-line{
	padding-top: 0;
	padding-bottom: 0;
}
.projects-wrapper.bottom-line{
	padding-top: 0;
	padding-bottom: 0;
}
.projects-wrapper.top-line.bottom-line{
	padding-top: $grid_height_unit;
	padding-bottom: 0;
}
//////////////////////
.grid-four-wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
	display: flex;
	display: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	
	overflow: hidden;
	align-items: flex-start;
	// 25 / 25 / 25 /25 diplay desktop
	// 15 / 35 / 35 /15 diplay tablet
	
}
.grid-four-wrapper .grid-one-unit,.grid-four-wrapper .grid-two-unit,.grid-four-wrapper .grid-three-unit,grid-four-wrapper .grid-space-elt{
	height: 260px;
	display: flex;//inline-block; !!!! Check !!!!!!!
	flex-grow: 1;
}
.grid-four-wrapper .grid-one-unit,.grid-four-wrapper .grid-two-unit,.grid-four-wrapper .grid-three-unit{
	flex: 1 100%;
	width: 100%;
}
.grid-four-wrapper.info-elt .grid-one-unit,.grid-four-wrapper .grid-three-unit { // special case
	flex: 1 35%;
	width: 100%;
}
.grid-space-elt{
	display: none;
}
.grid-thumb-elt {
	flex: 1 70%;
}
.grid-thumb-txt {
	flex: 1 100%;
}
.grid-thumb-elt {
	height: auto;//$grid_height_unit*14;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	 img{
		 top: 0;
		 position: relative;
		 width: 100%;
		 height: auto;
	 }
}
@media only screen and (min-width: $media_tablet_width) {

	.grid-space-elt{
		display: flex;
	}
	.grid-space-elt{
		flex: 1 15%;
	}
	.grid-four-wrapper .grid-one-unit{
		flex: 1 35%;
	}
	.grid-four-wrapper .grid-two-unit{
		flex: 1 70%;
	}
	.grid-four-wrapper .grid-three-unit{
		flex: 1 35%;
	}
	.grid-four-wrapper .grid-one-with-space-unit{
		flex: 1 50%;
	}
	.grid-four-wrapper .grid-two-unit.grid-pict-elt{
	width: 70%;
	}
	.grid-four-wrapper .grid-one-unit.grid-pict-elt{
	width: 35%;
	}
	.grid-four-wrapper .grid-one-with-space-unit.grid-pict-elt{
	width: 50%;
	}
	.grid-thumb-elt,.grid-thumb-txt {
		flex: 1 35%;
	}
}	
@media only screen and (min-width: $media_desktop_width) {
	.grid-space-elt{
		display: flex;
	}
	.grid-space-elt{
		flex: 1 25%;
	}
	.grid-four-wrapper .grid-one-unit,.grid-four-wrapper.info-elt .grid-one-unit {
		flex: 1 25%;
	}
	.grid-four-wrapper .grid-two-unit{
		flex: 1 50%;
	}
	.grid-four-wrapper .grid-three-unit{
		flex: 1 75%;
	}
	.grid-four-wrapper .grid-one-with-space-unit{
		flex: 1 50%;
	}
	.grid-four-wrapper .grid-one-unit.grid-pict-elt{
	width: 25%;
	}
	.grid-four-wrapper .grid-two-unit.grid-pict-elt{
	width: 50%;
	}
	.grid-four-wrapper .grid-one-with-space-unit.grid-pict-elt{
	width: 50%;
	}
	.grid-thumb-elt, .grid-thumb-txt {
		flex: 1 25%;
	}
}	

.grid-space-elt{
	// should be empty
}
.grid-pict-elt{
	position: relative;

	width: 100%; // default full width mobil
	height: 260px;
	
}
.grid-pict-elt.-thumb img{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	}
.grid-pict-elt.-thumb {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
.grid-thumb-txt{
	height:auto !important;
	padding-bottom: $grid_height_unit;
	display: flex;
	flex-direction: column;
}
.centered-image {
	position: relative;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    //width: 100%;
    width: auto;
    height: inherit;
    overflow: hidden;

}
.centered-image img{
	width: 100%;
	height: auto;
}
.left-image {
	// for mobil default
	top: 0;
	position: absolute;
	//
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;

}
.right-image {
	// for mobil default
	top: 0;
	position: absolute;
	//
	right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    //height: 100%;
    //width: auto;
    overflow: hidden;

}

.grid-pict-elt img{
	position: relative;
}
.grid-text-elt{
	//padding-top:$grid_height_unit;
	padding-bottom: $grid_height_unit;
	padding-right: $grid_height_unit;
	height: auto !important;
	display: flex !important;
	flex-direction: column;
}
.grid-text-elt p.info,.grid-thumb-txt p.info{
	font-size: 10px;
	font-weight: 200;
	text-transform: uppercase;
}
@media only screen and (min-width: $media_tablet_width) {

	.project-main .headline {
		text-align: center;
	}
	.project-main h1 {
		font-size: 48px;
		line-height: 58px;
			
	}
	.project-main h5 {
		font-size:24px;
		line-height:$grid_height_unit*1.5;
			
	}
	.project-main .introduction {
		text-align: center;
		margin:0 auto;
		padding-top: $grid_height_unit*2;
	}
	.right-image,.left-image{
	 align-items: flex-start;
	}
	.half-right-width-text{

		position:absolute;
		right: -70%;
		width: 70%;
	}
	.half-right-width-wrapper{
		right:0;
		width: 50%;
}
	.half-left-width-text{

		position:absolute;
		right: auto;
		left: -70%;
		width: 70%;
	}
	.half-left-width-wrapper{
	left:50%;
	width: 50%;
}

	.half-left-width-text{
	padding-right: $grid_height_unit;
	padding-left: 0;
	}
	///////
	.simple-copy,.info-elt {
	width: 70%;
}
	.simple-copy,.introduction,.headline,.next-project,.grid-text-elt,.info-elt {

	padding-left: 0;
	padding-right: 0;
}
	.grid-text-elt.rightElt,.half-right-width-text{
	padding-left: $grid_halfHeight_unit;
}
	.grid-text-elt.rightElt,.half-right-width-text{
	padding-left: $grid_height_unit;
	}
	.grid-text-elt,.half-left-width-text,.half-right-width-text {

	padding-top:0;
	}
	.extra-top-padding{
	padding-top: $grid_height_unit;
	}
	.with-large-image {
    height: $grid_height_unit*30 !important;
	}
}


@media only screen and (min-width: $media_desktop_width - 1px) {
	.simple-copy,.info-elt {
	width: 50%;

	}
	.project-main .headline {
		text-align: center;
		padding-top: $grid_height_unit*6;
	}
}
@media only screen and (min-width: $media_desktop_width) {
		.grid-text-elt,.half-left-width-text,.half-right-width-text {

	padding-top:0;
}
	.extra-top-padding{
	padding-top: $grid_height_unit;
}
	.half-left-width-text{

	left: -50%;
	width: 50%;
	}	
	.half-right-width-text{

	right: -50%;
	width: 50%;
	}
	.headline {
		padding-top: $grid_height_unit*8;
	}
	.header{
	position: fixed;
	
	}	
	.menu-wrapper {
		top:19px;
	}
}

@media only screen and (min-width: $media_large_desktop_width) {
	.half-left-width-text{

	left: -310px;
	width: 310px;
	}
	.half-right-width-text{

	right: -310px;
	width: 310px;
	}
}


/*------------------------------------*\
    $END
\*------------------------------------*/

@import 'animations';