@import 'variables';
@import 'paceLoader';
@import 'general';
@import 'fonts';
@import 'pattern';
@import 'header';
@import 'footer';
@import 'thumbs';
@import 'navigation';
@import 'secondaryNavigation';



/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html,body {
	height:100%;
}
body {
	position:relative;
	margin:0 auto;
	width:100%;
	overflow-x: hidden;
}
.site {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

.header{
	position: relative;
	display: inline-block;
	/*
	background-color: $first_color;
	height: $grid_height_unit*4;
	opacity: 0.95;
	*/
}
.header.-contact{	
	position: fixed;
}

.content-bg{
	background-color: $first_color;
	//margin-top: 300px;
	//min-height: 100%;
	//width: 100%;
	//top: 100px;
	bottom: auto;
	z-index: -700000;
	padding-top: $grid_height_unit*2;
}
.project-main .content-bg{
	padding-top: 0;
}
.responsbigimg{
	display: none !important;
	visibility: hidden;
}
.aaaaaa{
	visibility: hidden;
}
.zoomUpthumbs .responsimg{
	display:none;
	visibility: hidden;
}
.zoomUpthumbs .responsbigimg{
	display:block !important;
	visibility: visible;
}
.content-main, .project-main{
	position:relative;
	margin:0 auto;
	width: 100%;
	transform:translateX(0);
	transition-property:transform;
	transition-duration:.4s;
	transition-timing-function:ease;
	overflow: hidden;
	// z-index: $zIndex--content-main;
}
.project-main{
	z-index:auto;
}
.right-navi-is-open .content-main,.right-navi-is-open .project-main{
	opacity: 0.1;
}
.centered-max-width{
	margin:0 auto;
	width: 100%;
	max-width: $media_large_desktop_width;
}
.centered-medium-width{
	margin:0 auto;
	max-width: $media_Max_width;
	height: 100%;
	width: 100%;
	margin-bottom: $grid_height_unit*2;
}
.full-width-container{

}
.headline ,.next-project{
	text-align: center;
	margin:0 auto;
	position:relative;
	box-sizing: border-box;
	max-width: $grid_height_unit*34;
	
	padding-top: $grid_height_unit*1;
	//padding-bottom: $grid_height_unit*1;
}
.contact-content .headline{
	margin-top: $grid_height_unit*2;
}
.next-project{
	padding-bottom: $grid_height_unit*6;
}
.next-project .info{
	margin-bottom: $grid_halfHeight_unit;	
}
.next-project h4{
	margin-bottom: $grid_halfHeight_unit;	
	text-transform: none;
	letter-spacing: normal;
}
.project-main h5 {
	font-size: 15px;
	line-height: $grid_height_unit;
}

.headline .info,.next-project .info {
	margin-top: $grid_height_unit;
}
.contact-content .headline .info {
	margin-top: $grid_height_unit*2;
}
.introduction{
	text-align: center;
	margin:0 auto;
	padding-top: $grid_height_unit*2;
	max-width: $grid_height_unit*24;
	margin-bottom: $grid_height_unit*2;
}
@media only screen and (min-width: $media_desktop_width) {
	.introduction{
		margin-bottom: $grid_height_unit*4;
	}
}

.project-main .introduction{

	//text-align: left;
	//margin:0;
	padding-top: $grid_halfHeight_unit;
	padding-bottom: $grid_halfHeight_unit;
}
.simple-copy {
	margin:0 auto;
	//padding-top: $grid_height_unit*2;
	margin-bottom: $grid_height_unit*2;
	word-break: break-word;

}
.info-elt {
	margin:0 auto;
	word-break: break-word;

}
.simple-copy .bold {
	margin-bottom: $grid_halfHeight_unit;
}
.underlined-big {
	width: 100%;
}
.underlined-big::after {
	content:'';
	display:block;
	height:1px;
	max-width:$grid_halfHeight_unit;
	margin:0;
	margin-top: $grid_halfHeight_unit;
	background-color: $second_color;
}
.simple-copy h3{
	margin-bottom: $grid_height_unit;
	}
.simple-copy,.introduction,.headline,.next-project,.grid-text-elt,.half-left-width-text,.half-right-width-text,.grid-thumb-txt {

	padding-left: $grid_halfHeight_unit;
	padding-right: $grid_halfHeight_unit;
	box-sizing:border-box;
}
.grid-text-elt,.half-left-width-text,.half-right-width-text {

	padding-top:$grid_halfHeight_unit;
}
.full-width-image{
	position: relative;
	width: 0;
	height: inherit;
    background-color: black;
}
.full-width-image img {
	position: absolute;
	transform: 	translate(-50%,0);
	height: inherit;
}
.zoom-button-wrapper{
	position:absolute;
	left:auto;
	top: auto;
	bottom: 0;
	right: 0;
	
}
.zoom-button{
	
	background-color: transparentize($first_color, 0.6) ;

	width: 26px;
	height: 26px;
	z-index: 1000000;
	
	opacity: 0;
	transition:opacity .6s ease;
	
	}
.zoom-button p{
	color: $second_color;
	font-size: 26px;
	font-weight: 200;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;

}
.zoom-button .-down{
	display: none;
}
.zoomUpthumbs .zoom-button {
	
}
.zoomUpthumbs .zoom-button .-down{
		display:block;
color: $second_color;
}
.zoomUpthumbs .zoom-button .-up{
		display:none;
}
.grid-four-wrapper:hover .zoom-button{
	//visibility:visible;
	opacity: 1;
}
/////////////////
/////////////////
/////////////////
/////////////////

.half-left-width-wrapper,.half-right-width-wrapper{

	position:relative;
	width: 100%;
	height: 460px;
}
.half-left-width-text,.half-right-width-text{

	position:relative;
	width: 100%;
	height: 260px;
	padding-bottom: $grid_height_unit;
	
}
.extra-top-padding{
	padding-top: $grid_halfHeight_unit;
}
.half-right-width-text{
	position: absolute;
	right: 0;
	left: auto;
	
}
.projects-wrapper{
	padding-top: $grid_height_unit;
	//padding-bottom: $grid_height_unit;
	//background-color: aqua;
}

.bg-alternate:nth-child(odd){
	background-color: $Lighter_darker_first_color;
	//background-color: red;
	
	
}
.bg-alternate:nth-child(even){
	//background-color: $Lighter_darker_first_color;
}
.projects-wrapper.top-line:before{
	//padding-bottom: $grid_height_unit;
	//padding-bottom: 0;
}
.projects-wrapper.bottom-line{
	//padding-top: 0;
	//padding-bottom: 0;
}
.projects-wrapper.top-line.bottom-line{
	//padding-top: $grid_height_unit;
	//padding-bottom: 0;
}
//////////////////////
.grid-four-wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
	
	display: flex;
	display: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	
	overflow: hidden;
	align-items: flex-start;
	// 25 / 25 / 25 /25 diplay desktop
	// 15 / 35 / 35 /15 diplay tablet
	
}
.grid-four-wrapper .grid-one-unit,.grid-four-wrapper .grid-two-unit,.grid-four-wrapper .grid-three-unit,grid-four-wrapper .grid-space-elt{
	height: 260px;
	display: flex;//inline-block; !!!! Check !!!!!!!
	flex-grow: 1;
}
.grid-four-wrapper.-mobile-reverse {
	flex-wrap: wrap-reverse;
}
.grid-four-wrapper.-mobile-reverse .grid-text-elt{
	
	//height: auto;
	height: 100% !important;
	}
.grid-four-wrapper .grid-one-unit,.grid-four-wrapper .grid-two-unit,.grid-four-wrapper .grid-three-unit{
	flex: 1 100%;
	width: 100%;
}
.grid-four-wrapper.info-elt .grid-one-unit,.grid-four-wrapper .grid-three-unit { // special case
	flex: 1 35%;
	width: 100%;
}
.grid-space-elt{
	display: none;
}
.grid-thumb-elt {
	flex: 1 100%;
}
.grid-thumb-txt {
	flex: 1 100%;
}
.grid-thumb-elt {
	width: 100%;
	height: auto;//$grid_height_unit*14;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	 img{
		 top: 0;
		 position: relative;
		 width: 100%;
		 height: auto;
		 //max-width: 720;
		 //max-height: 430;
	 }
}
@media only screen and (min-width: $media_tablet_width) {

	.grid-space-elt{
		display: flex;
	}
	.grid-space-elt{
		flex: 1 15%;
	}
	.grid-four-wrapper .grid-one-unit{
		flex: 1 35%;
	}
	.grid-four-wrapper .grid-two-unit{
		flex: 1 70%;
	}
	.grid-four-wrapper .grid-three-unit{
		flex: 1 35%;
	}
	.grid-four-wrapper .grid-one-with-space-unit{
		flex: 1 50%;
	}
	.grid-four-wrapper .grid-two-unit.grid-pict-elt{
	width: 70%;
	}
	.grid-four-wrapper .grid-one-unit.grid-pict-elt{
	width: 35%;
	}
	.grid-four-wrapper .grid-one-with-space-unit.grid-pict-elt{
	width: 50%;
	}
	.grid-thumb-elt,.grid-thumb-txt {
		flex: 1 35%;
	}
	.grid-four-wrapper.-mobile-reverse {
	flex-flow: row;
}
}	
@media only screen and (min-width: $media_desktop_width) {
	.grid-space-elt{
		display: flex;
	}
	.grid-space-elt{
		flex: 1 25%;
	}
	.grid-four-wrapper .grid-one-unit,.grid-four-wrapper.info-elt .grid-one-unit {
		flex: 1 25%;
	}
	.grid-four-wrapper .grid-two-unit{
		flex: 1 50%;
	}
	.grid-four-wrapper .grid-three-unit{
		flex: 1 75%;
	}
	.grid-four-wrapper .grid-one-with-space-unit{
		flex: 1 50%;
	}
	.grid-four-wrapper .grid-one-unit.grid-pict-elt{
	width: 25%;
	}
	.grid-four-wrapper .grid-two-unit.grid-pict-elt{
	width: 50%;
	}
	.grid-four-wrapper .grid-one-with-space-unit.grid-pict-elt{
	width: 50%;
	}
	.grid-thumb-elt, .grid-thumb-txt {
		flex: 1 25%;
	}
	.zoomUpthumbs .grid-thumb-elt,.zoomUpthumbs .grid-thumb-txt {
		flex: 1 100%;
	}
}	

.grid-space-elt{
	// should be empty
}
.grid-pict-elt{
	position: relative;

	//width: 100%; // default full width mobil
	//height: 260px;
	
}
.grid-pict-elt.-thumb img{
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	}
.grid-pict-elt.-thumb {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}
.grid-thumb-txt{
	height:auto !important;
	padding-bottom: $grid_halfHeight_unit;
	padding-top: 0;
	display: flex;
	flex-direction: column;
}
	
	.centered-image {
    	min-height: inherit;
    	img{
			width: 100%;
			height: auto;
		}
	}
.centered-image {
	position: relative;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    //width: 100%;
    //width: auto;
    //height: inherit;
    overflow: hidden;
}
.left-image {
	// for mobil default
	top: 0;
	position: absolute;
	//
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;

}
.right-image {
	// for mobil default
	top: 0;
	position: absolute;
	//
	right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    //height: 100%;
    //width: auto;
    overflow: hidden;
}
.grid-pict-elt img{
	position: relative;	
}
.grid-text-elt{
	//padding-top:$grid_height_unit;
	padding-bottom: $grid_height_unit;
	padding-top: $grid_halfHeight_unit;
	padding-right: $grid_height_unit;
	height: auto !important;
	display: flex !important;
	flex-direction: column;
}

	.grid-text-elt.leftElt p{
		text-align: right;
	}

.grid-text-elt p.info,.grid-thumb-txt p.info ,.contact-content p.info.-header{
	font-size: 10px;
	font-weight: 200;
	text-transform: uppercase;
}
@media only screen and (min-width: $media_tablet_width) {
	
	.project-main .headline {
		text-align: center;
	}
	.project-main h5 {
		font-size:24px;
		line-height:$grid_height_unit*1.5;		
	}
	.project-main .introduction {
		text-align: center;
		//margin:0 auto;
		//padding-top: $grid_height_unit*2;
	}
	.right-image,.left-image{
	 align-items: flex-start;
	}
	.half-right-width-text{
		position:absolute;
		right: -70%;
		width: 70%;
	}
	.half-right-width-wrapper{
		right:0;
		width: 50%;
	}
	.half-left-width-text{
		position:absolute;
		right: auto;
		left: -70%;
		width: 70%;
	}
	.half-left-width-wrapper{
		left:50%;
		width: 50%;
	}
	.half-left-width-text{
		padding-right: $grid_height_unit;
		padding-left: 0;
	}
	///////
	.simple-copy,.info-elt {
		width: 70%;
	}
	.simple-copy,.introduction,.headline,.next-project,.grid-text-elt,.info-elt {
		padding-left: 0;
		padding-right: 0;
	}
	.grid-text-elt.rightElt,.half-right-width-text{
		padding-left: $grid_height_unit;
	}
	.grid-text-elt.leftElt{
		padding-right: $grid_height_unit;
	}
	.extra-top-padding{
		padding-top: $grid_height_unit;
	}
	.with-large-image {
    	height: $grid_height_unit*30 !important;
	}
	.full-width-container .centered-image {
	    min-height: $grid_height_unit*18;
	}
}

@media only screen and (min-width: $media_desktop_width - 1px) {
	.simple-copy,.info-elt {
		width: 50%;
	}
}
@media only screen and (min-width: $media_desktop_width) {

	.contact-content .headline{
	margin-top: 0;
}
	.projects-wrapper{
	padding-top: 0;
	}

	.extra-top-padding{
		padding-top: $grid_height_unit;
	}
	.half-left-width-text{
		left: -50%;
		width: 50%;
	}	
	.half-right-width-text{
		right: -50%;
		width: 50%;
	}
	.headline {
		padding-top: $grid_height_unit*8;
	}
	.header{
		position: fixed;
	}	
	.full-width-container .centered-image {
	    min-height:50vh;	
	    max-height:60vh;	
	}
	.grid-thumb-txt{
		padding-bottom: $grid_height_unit*1;
		padding-top: $grid_height_unit*2;
	}
}

@media only screen and (min-width: $media_large_desktop_width) {
	.half-left-width-text{
		left: -310px;
		width: 310px;
	}
	.half-right-width-text{
		right: -310px;
		width: 310px;
	}
	.full-width-container .centered-image img{
		width: auto;
	    min-width: 0;
		height: auto;
	    min-height: 0;
	}
}


/*------------------------------------*\
    $END
\*------------------------------------*/

@import 'animations';