
.footer {
	position:absolute;
	width:inherit;
	padding:$grid_halfHeight_unit;
	box-sizing:border-box;
	display:flex;
	bottom: 0;
	top:auto;
	z-index: $zIndex--footer;
}
.footer.-content {
	position:relative;
}

.footer-left,.footer-right,.footer-middle {
	display:flex;
	align-items:center;
}
.footer-right {
	display: flex;
	justify-content: flex-end;
	}
/* default - mobile */
.footer-right-left {
	display:none;
	width: 100%;
}
.footer sup {
	line-height:0;
	position:relative;
	vertical-align:baseline;
	top:7px;
}
.footer-left,.footer-middle{
	display: none;
}
/* tablet */
@media only screen and (min-width: $media_tablet_width) {
	}

/* desktop Monitore */
@media only screen and (min-width: $media_desktop_width) {

	.footer-left,.footer-right,.footer-middle  {
		display: flex;
		flex: 1;
	}
	.footer-middle {
		
		align-items: center;
		flex-direction: column;
		}
	.footer-right {
	display: flex;
	
	
	//justify-content: space-between;
	}
	.footer-right-left,.footer-right-right {
		display:block;
		width: inherit;
	}
}
/* HD desktop Monitore */
@media only screen and (min-width: $media_HD_desktop_width) {

	.footer{
		padding:$grid_height_unit;
	}
}