body ,.header, .footer{
	 max-width: $media_Max_width;
}
/*color*/
/*------------------------------------*/
body {
	background-color:$first_background_color;
}
.hideDuringLoading{
	visibility: hidden;
	opacity: 0;
}
.inverted- {
	background-color:$second_background_color;
}
.noOpacity{
	opacity: 0;
}
.one_highlight_color-background {
	background-color:$first_highlight_color !important;
}
.two_highlight_color-background {
	background-color:$second_highlight_color !important;
}
.three_highlight_color-background {
	background-color:$third_highlight_color !important;
}
/*---------------------*/

.vertical-center-headline{
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: flex-start;
	margin-top: -$grid_halfHeight_unit+1px;
	
	
}
/* tablet */
@media only screen and (min-width:$media_tablet_width) {
	.vertical-center-headline{
		//margin-top: -31px;
	}
}
/* desktop */
@media only screen and (min-width:$media_desktop_width) {
	.vertical-center-headline{
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
}
/*------------------*/

.top-line::before {
	content:'';
	display:block;
	height:1px;
	margin:0;
	width: 100%;
	background-color: $line-color;
}
.bottom-line::after {
	content:'';
	display:block;
	height:1px;
	margin:0;
	width: 100%;
	background-color: $line-color;
}
.naviline::before{
	content:'';
	display:block;
	height:1px;
	margin:0;
	width: 100%;
	background-color: $line-color;	
}

.underlined::after {
	content:'';
	display:block;
	height:2px;
	margin:0;
	width: 0;
	background-color: $first_typo_color;
}
 .-thumb-underlined::after {
	background-color: $second_typo_color;
}
.small-underlined::after {
	content:'';
	display:block;
	height:1px;
	margin:0;
	width: 0;
	background-color: $first_typo_color;
}
.inverted- .underlined::after,.inverted- .small-underlined::after {
	background-color: $second_typo_color;
}
	
.big-underlined::after {
	content:'';
	display:block;
	height:8px;
	width: $grid_height_unit;
	margin-top: $grid_halfHeight_unit - 5px;
	background-color: $first_typo_color;
}
.thumb-.big-underlined::after {
	content:'';
	display:block;
	height:3px;
	width: $grid_height_unit;
	margin-top: 6px;
	background-color: $second_typo_color;
}
.underlined, .big-underlined,.small-underlined{
	width: 100%;
}
.underlined,.big-underlined,.small-underlined  {
	display:inline-block;
	width:inherit;

}
.noMobileUnderlined::after {
	width:0 !important;
}
@media only screen and (min-width:$media_tablet_width) {
	.noMobileUnderlined::after{
		width:inherit !important;
	}
}
.thumb-.big-underlined {
	width: 100%;
}
.round {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 15px;
    height: 15px;
    background: $second_color;
    margin: 0 0 4px 0;
    border-radius: 50%;
}

.round svg {
    position: absolute;
    width: 7px;
    height: 7px;
    margin: 4px;
    left: 0;
}
.round svg path{
	stroke: $second_typo_color;
	fill: none;
    stroke-width: 8;
}
a .socialIcons{
	padding: 13px;
	}
.socialIcons svg{
	padding: 12px;
	border-radius: 100%;
	width: $grid_height_unit - 2px;
	height: $grid_height_unit - 2px;
	fill: $second_typo_color;
	color: $first_typo_color; // IE8
	background-color: $first_typo_color;
}

.socialIcons.xing svg {
	width: $grid_height_unit - 7px;
	height: $grid_height_unit - 7px;
	padding: 14px;

}
.socialconsWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: $grid_height_unit*4;
	
}
.no-touch{
a.thumb-hover-effect:hover .underlined::after,a.thumb-hover-effect:hover .big-underlined::after,a.thumb-hover-effect:hover .small-underlined::after{
	width: 100%;
	}
	a .small-underlined::after{
	visibility: visible;
	}
}
a .small-underlined::after{
	visibility: hidden;
	}

/////// backgrounds

.first-background {
	background-color:$first_background_color !important;
}
.menu-background-color {
	background-color:$first_highlight_color;
}
.second-background {
	background-color:$second_background_color !important;
}
.third-background {
	background-color:$third_background_color !important;
}
.transparent-second-background {
	background-color:transparentize($second_darker_color,0.3) !important;
}
.lab-bg{
		background-color: $third_highlight_color !important;
}
.darker-bg{
		background-color: $darker_first_color !important;
}


//circles
///////

.circle,.dark-circle {
	border-radius:50%;
	width:65px;
	height:65px;
	//border:1px solid $darker_first_color;
	box-shadow:0 1px 10px 0 $first_shadow_color;
	
	//border:1px solid $second_color;
}

.dark-circle {
	border-radius:50%;
	width:65px;
	height:65px;
	//border:1px solid $darker_first_color;
}

.transparent-dark-circle {
	border-radius:50%;
	width:65px;
	height:65px;

}
/* desktop Monitore */
@media only screen and (min-width: $media_desktop_width) {
.circle,.dark-circle {
	border-radius:50%;
	width:65px;
	height:65px;
	border:none;
	box-shadow:none;
}
}

/*display handlers*/
/*------------------------------------*/
/* mobil */
.only-mobil,.no-desktop,no-large-desktop,.no-tablet  {
		display:flex !important;
		visibility:visible;
}
.only-desktop,.only-large-desktop,.no-mobil,.no-mobil-and-tablet,only-mobil-and-tablet {
	display:none !important;
	visibility: hidden;
}
/* tablet */
@media only screen and (min-width:$media_tablet_width) {
	.only-mobil,.no-tablet{
		display:none !important;
		visibility: hidden;
	}
	.no-mobil,.only-mobil-and-tablet {
		display:flex !important;
		visibility:visible;
	}

}
/* desktop Monitore */
@media only screen and (min-width: $media_desktop_width) {
	.only-mobil-and-tablet,.no-desktop {
		display:none !important;
		visibility: hidden;
	}
	.no-mobil-and-tablet {
		display:flex !important;
		visibility:visible;
}
	.only-desktop {
		display:flex !important;
		visibility:visible;
	}
}
@media only screen and (min-width:$media_large_desktop_width) {
	.no-large-desktop{
		display:none !important;
		visibility: hidden;
	}
	.only-large-desktop {
		display:flex !important;
		visibility:visible;
	}
}