.header {
	position:absolute;
	width:inherit;

	box-sizing:border-box;
	display:flex;
	//flex: 1;
	flex-direction:column;
	z-index: $zIndex--header;
	
	padding:$grid_halfHeight_unit;
	box-sizing:border-box;

	
}
.fix-top-header .header{
		transition: color 0.3s ease-out;
		background-color: $first_color;//transparentize($first_color, 0.1);	
		border-bottom: 1px solid $line-color;
}
.header{
	transition: all 0.3s ease-out;
	display:flex !important;
	flex-direction: row;
}
////
.header-left,.header-middle,.header-right {
	display:flex;
	align-items:center;	
	flex: 1;
	height:100%;
}
.header-right {
	display: none;
	justify-content: flex-end;
	}
.header-middle {
	display: none; /* none Visible mobil*/
	justify-content: center;
}
.header-left .header-info{
	margin-left: $grid_halfHeight_unit;
}
/////
	
.header-bg{
	position:fixed;
	top:0;
	width: 100%;
	background: $darker_first_color; 
	z-index: $zIndex--header-bg;
	height:$grid_height_unit;
	overflow: hidden;
	opacity:0;
	max-width: $media_Max_width;

}
.image-bg,.image-test-bg{

    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    background-image:    url(../imgs/interview_bg.png);

}
.image-test-bg{
	background-image:    url(https://source.unsplash.com/featured/?sky);

}

.header-zoom-default {
  transition: all 1s ease-out;
  transform: scale3d(0.8,0.8,1)
 
 }

.header-zoom-up {
  transform: scale3d(1,1,1)
 }
 
/* tablet */
@media only screen and (min-width: $media_tablet_width) {
	.header{
		display:flex !important;
		flex-direction: row;
	}
	
}

/* desktop Monitore */
@media only screen and (min-width: $media_desktop_width) {
	.header{
		flex: 1;
	}
	.header-left,.header-right,.header-middle  {
		display: flex;
		flex: 1;
	}
	.header-right-left,.header-right-right {
		display:block;
		width: inherit;
	}

}