/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
	position:relative;
	margin:0 auto;
	width:100%;
	height: 100%;
}
.header, .footer{
	 flex: none;
}
.site {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.Site-content {	

   flex: 1 0 auto; 
  
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  
  width: 100%;
  height:100%;
  
  overflow: hidden;
  position: absolute;
}
.vertical-centered-content{
	margin: 0;
	height: 100%;
	background-color: blue;
}
.Site-highlight-wrapper.grid-content{
	display: flex;
	flex-direction: row;
	max-width: 100% !important;
	mix-blend-mode:multiply;

}
.Site-highlight-left{
	height: 100%;
	width: 50%;
	align-self: center;
	
}
.Site-highlight-left img {
    
    position: absolute;
	left: $grid_height_unit*8;
	right: auto;
	height: 90%;
	width: auto;
	bottom: auto;
	top: auto;
	
}
.Site-highlight-right{
	height: 100px;
	width: 50%;
	align-self: center;
	padding-left: $grid_height_unit*4;
	top: -$grid_height_unit*2-4px;
}

.Site-highlight-one,.Site-highlight-two,.Site-highlight-three{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	//mix-blend-mode:multiply;
	
}
.Site-highlight-one,.Site-highlight-two,.Site-highlight-three {

    transition-duration: 1000ms;
    //transition-delay: 1s;
    transition-timing-function:cubic-bezier(0,.55,.49,.99);
}
.Site-highlight-one{
	background-color: $first_color;//$first_highlight_color;
	
	z-index: $zIndex--Site-highlight-one;
	
	transform-origin: left;
    transform: translate(0%,0%) rotate(0deg) ;  
}
.Site-highlight-two{
	background-color: $first_color;//$second_highlight_color;
	z-index: $zIndex--Site-highlight-two;
}
.Site-highlight-three{
	background-color: $first_color;//$third_highlight_color;
	z-index: $zIndex--Site-highlight-three;
}
.Site-highlight-one.loading {
    transform-origin: left;
    transition-duration: 5000ms;
    transform: translate(-150%,-250%) rotate(45deg) ;  
    z-index: $zIndex--Site-highlight-one-loading; 
}
.Site-highlight-two.loading {
    transform-origin: left;
    transition-duration: 5000ms;
    transform: translate(150%, -250%) rotate(-45deg) ;  
    z-index: $zIndex--Site-highlight-two-loading; 
}.Site-highlight-three.loading {
    transform-origin: left;
    transition-duration: 5000ms;
    transform: translate(-150%, 250%) rotate(45deg) ;  
    z-index: $zIndex--Site-highlight-three-loading; 
}
.nav-hightlight{
	position: absolute;
	top: 0;
	left: 0;
	
}
.nav-hightlight.grid-content{
	width: auto;
}
.second-menu-wrapper.is-invisible, .nav-hightlight.is-invisible {
	display:none;
}

.nav-hightlight-main{
	position: relative;
	align-self: center;
	padding-left:  $grid_halfHeight_unit;
	pointer-events: none;
	z-index: $zIndex--nav-hightlight-main;
}
.nav-hightlight-element h4,.nav-hightlight-element h5,.nav-hightlight-element .content{
	   float: left;
	   line-height: $grid_height_unit;
	   
}	
.nav-hightlight-element .animatedBG{
		position: absolute;
		padding: 8px 0px 4px 0px;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		z-index:$zIndex--animatedBG;
		background-color:$first_color;
}
.nav-hightlight-element h4{
		position: relative;
		padding: 8px 10px 4px 10px;
		top: -8px;
		left: -10px;
		z-index: $zIndex--nav-hightlight-element--h4;
		
}

.nav-hightlight-element .activ h4{
		//background-color: $first_color;
		//background-color: blue;
}
.Site-highlight-one .round svg path{
	stroke: $first_highlight_color;
}
.Site-highlight-two .round svg path{
	stroke: $second_highlight_color;
}
.Site-highlight-three .round svg path{
	stroke: $third_highlight_color;
}
.nav-hightlight-element h5{
	font-weight: 200;
	letter-spacing: 1px;
    font-style: normal;
    padding-right: $grid_halfHeight_unit;
}
.nav-hightlight-info{
	margin-left: 0;
}
.nav-hightlight a,.nav-hightlight p{
	float: left;
	pointer-events:auto;
	padding-bottom: $grid_height_unit;
}
.Site-highlight-wrapper p{
	padding-bottom: $grid_height_unit;
}
.Site-highlight-wrapper h1{
	padding-bottom: $grid_height_unit;
}

.grid-description a{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.grid-description{
	box-sizing:border-box;
	padding-left:$grid_halfHeight_unit;
	padding-right:$grid_halfHeight_unit;
	padding-top: 3px;
	padding-bottom: $grid_height_unit - 9px;

}
.grid-description-top p{
	margin-bottom: $grid_halfHeight_unit;
}

.highlight-desktop-image-txt{
	box-sizing:border-box;
	padding-left:$grid_halfHeight_unit;
	padding-right:$grid_halfHeight_unit;
	padding-top: $grid_height_unit + 2px;
	padding-bottom: $grid_height_unit - 8px;
}
.highlight-desktop-image-txt p{
	padding-top: 0;
}
.grid-description-top {
	height: 100%;
	flex: 1;

}

.highlight-desktop-image-txt .info{
	margin-bottom: 8px;
}

/* tablet */
@media only screen and (min-width: $media_tablet_width) {
	.Site-highlight-left{
		flex-direction: column;
	}
	.Site-highlight-left img {
		left:auto;
		right: -$grid_height_unit*16;
		//
		height: 100%;
		width:auto;
		bottom: $grid_height_unit;
		top: auto;
	}
	.nav-hightlight-info{
		margin-left: $grid_height_unit*1.5;
	}
	
	.nav-hightlight-element a{
	  padding-bottom: $grid_height_unit;

	}
	.nav-hightlight-element {
	  background-color: blue;

	}
	.grid-highlight-left{
		height: $grid_height_unit*16 !important;
	}
	.Site-content {	
		padding-top: $grid_height_unit*2;
  	}

	.vertical-centered-content{
		margin: 0  auto;
	}
	.grid-description{
		padding-top: $grid_height_unit - 4px;
	}
}
// ////////////////////////
@media only screen and (min-width: $media_desktop_width) {
		
	.nav-hightlight-main{
		padding-left:  $grid_height_unit;
	}
	.Site-highlight-left img {
		left:auto;
		right: -$grid_height_unit*8;
	}
	.grid-highlight-left h2{
		height: 100%;
		font-size: 48px;
		line-height: 52px;	
	}
	.vertical-centered-content{
		margin-top: 52px;
	}
	.grid-highlight-left{
		height: $grid_height_unit*20 !important;
	}
	.grid-description,.highlight-desktop-image-txt {
		padding-left:$grid_height_unit;
		padding-right:$grid_height_unit;
	}
	.highlight-desktop-image-txt {
		padding-top: $grid_height_unit*3+6px;
	}

	.grid-description{
		padding-top: $grid_height_unit+ $grid_halfHeight_unit+ 8px;
	}
}
@media only screen and (min-width: $media_HD_desktop_width) {
	.grid-highlight-left{
		height: $grid_height_unit*24 !important;
	}
		.nav-hightlight-main{
		padding-left:  $grid_height_unit*4;
	}
}

/*------------------------------------*/
/* Grid Layout */
/*------------------------------------*/
/*units*/
/*------------------------------------*/
.grid-content {
	display:flex;
	flex-wrap:wrap;
	
	width: 100%;
	height: 100%;
	//min-height:  $grid_height_unit*22;
	//min-height: 650px;
	
	//flex-direction: row;
	align-items:stretch;
	//max-width: $media_HD_desktop_width !important;
	margin: 0  auto;
	
}
.grid-elt {
	//height: 100%;
	position: relative;
	display:flex;
	flex-direction:column;
}

.grid-elt-wrapper,.grid-elt{
	// helper
	//padding: 13px;
	box-sizing: border-box;
}
.grid-elt-wrapper {
	display:flex;
	flex:1 100%;
	flex-wrap:wrap;

}
.grid-half-height{
	height: $grid_height_unit*5;
}
.grid-one-height{
	height: $grid_height_unit*10;
}
.grid-one-width,.grid-two-width,.grid-three-width, .grid-four-width{
	flex:1 100%;
}

/* tablet */
@media only screen and (min-width: $media_tablet_width) {
/*
	.grid-content {
		height: 650px;
	}
	*/
	.grid-two-width{
		flex:1 50%;
	}
	
	.grid-elt-wrapper {
		flex-wrap:nowrap;
	}
	.grid-half-height{
		height: $grid_height_unit*4;
	}
	.grid-one-height{
		height: $grid_height_unit*8;
	}

}
@media only screen and (min-width: $media_desktop_width) {

	.grid-one-width{
		flex:1 25%;
	}
	.grid-two-width{
		flex:1 50%;
	}
	.grid-three-width{
		flex:1 75%;
	}
	.grid-four-width{
		flex:1 100%;
	}
	.grid-half-height{
	height: $grid_height_unit*5;
	}
	.grid-one-height{
		height: $grid_height_unit*10;
	}

}
@media only screen and (min-width: $media_HD_desktop_width) {
	.vertical-centered-content{
		margin-top: $grid_height_unit*8;
	}
	.grid-half-height{
		height: $grid_height_unit*6;
	}
	.grid-one-height{
		height: $grid_height_unit*12;
	}

}
