.pattern{
	position:absolute;
	overflow: hidden;
	height: inherit;
	width:100%;
	margin: 0 auto;
	z-index:5200;
}
.pattern-horizontal {
	position:relative;
	height:100%;
	//width:100%;

	background-color:rgba(212,153,162,0.05);
	background-size:25%;
	background-image:-webkit-linear-gradient(0,transparent 50%,rgba(255,0,171,0.05) 50%);
	z-index:-1000;
	pointer-events: none;
	max-width:$media_HD_desktop_width;
	margin: 0 auto;

}

.pattern-vertical {
	position:fixed;
	top:0;
	height:$media_HD_desktop_width*2;
	width:$media_HD_desktop_width*2;
	max-height:$media_HD_desktop_width*2;
	max-width:$media_HD_desktop_width*2;
	background-color:rgba(212,153,162,0.05);
	background-size:$grid_halfHeight_unit;
	background-image:-webkit-linear-gradient(90deg,transparent 1px,rgba(255,0,171,0.05) 1px);
	z-index:-2002;
	pointer-events: none;
}

.pattern svg{
	pointer-events: none;
}
.pattern-horizontal,.pattern-vertical {
		display: none;
}
.pattern svg {
	
		z-index: 10000;
}
.pattern{
		display: none;
}