/*------------------------------------*\
    $second-navi
\*------------------------------------*/
.second-menu-wrapper {
	position:fixed;
	right:$grid_height_unit;
	bottom:$grid_height_unit+65px+$grid_height_unit;
	width:65px;
	height:65px;
	z-index:$zIndex--second-menu-wrapper;
	
	
}

//general
.open-side-navi {
	position:fixed;
	top:0;
	bottom:auto;
	right:0;
	left:auto;
	font-size:12px;
	background-color:$first_color;
	padding:20px 13px 13px;
}
.nav {
	position:fixed;
	top:0;
	left:auto;
	right:0;
	height:0;
	width:100%;
	visibility:visible;
}

.right-navi-is-open .nav {
	visibility:visible;
}

body.right-navi-is-open {
	overflow:hidden;
}

.right-navi-is-open .menu-wrapper {
	visibility:hidden;
}

.second-navigation-Wrapper {
	position:absolute;
	right:0;
	overflow-y:auto;
	width:100%;
	min-height:100vh;
	backface-visibility:hidden;
	transform:translateX(100%);
	transform-origin:right;
	transition-duration:.3s;
	transition-timing-function:linear;
	background-color:$second_background_color;
}
.secondary-button .menu-open{
	box-shadow:0 1px 10px 0 $first_shadow_color;
}

.second-navigation-Scroll {
	overflow:auto;
	max-height:100vh;
}

.right-navi-is-open .second-navigation-Wrapper {
	transform:translateX(-0%);
	transition-property:transform;
	transition-duration:.6s;
	transition-timing-function:cubic-bezier(.23,.52,.25,1);
}

.right-navi-is-open .second-menu-wrapper {
	right:$grid_height_unit;
	bottom:$grid_height_unit;
	width:65px;
	height:65px;
}

.right-navi-is-open .secondary-button .menu-open {
	display:none;
}

.right-navi-is-open .secondary-button .menu-close {
	display:flex;
}

.secondary-button .menu-close {
	display:none;
}

.second-menu-wrapper.is-invisible {
	display:none;
}

/////////////////
@media only screen and (min-width: 760px) {
	.second-navigation-Wrapper {
		width:320px;
	}
}

@media only screen and (min-width: $media_desktop_width) {
	.secondary-button .menu-open{
	box-shadow:none;
	}
	.second-menu-wrapper {
		right:$grid_height_unit;
		top:18px;
		bottom:auto;
	}
	
	.right-navi-is-open .menu-wrapper {
		visibility:visible;
	}
}