//////////
.thumb-image-Text {
	overflow: hidden;
}

.thumb-image-Text .thumb-center-elt{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	//text-align: center;
	padding: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
} 
.thumb-center-elt{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: $grid_halfHeight_unit;
}
.thumb-center-elt .second-color-txt h3,.thumb-center-elt .second-color-txt .info {
	color:$second_typo_color;
}
.thumb-center-elt .first-color-txt h3,.thumb-center-elt .first-color-txt .info {
	color:$first_typo_color;
}
a .thumb-image-Text{
	position: relative;
}
.thumb-image-Text {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:$first_color;
}
.thumb-image-Text img {
	width:100%;
	height: auto;
}
.thumb-center-elt{
	padding-bottom: $grid_halfHeight_unit;
}
// ////////////////////////
@media only screen and (min-width: $media_desktop_width) {
	.thumb-center-elt{
		padding-left: $grid_height_unit;
	}
}
