/*------------------------------------*\
    $Sizes
\*------------------------------------*/
// basics
$grid_height_unit:26px;
$grid_halfHeight_unit:$grid_height_unit/2;

$grid_total_maxheight:650px;
/*------------------------------------*\
    $breakpoints
\*------------------------------------*/
/* mobil */
//default_width!!!!!!!
/* tablets */
$media_tablet_width: 768px;
/* desktop Monitore */
$media_desktop_width: 1025px;
/* large desktop Monitore */
$media_large_desktop_width: 1241px;
/* HD desktop Monitore */
$media_HD_desktop_width: 1441px;


/*------------------------------------*\
    $colors
\*------------------------------------*/
// definition
$first_color:#F9F7F2; 
$second_color:#333;
$third_color:#FFFE00;//#50E3C2;
// global use
// bg
$first_background_color:$first_color;
$second_background_color:$second_color;
//
$first_lighter_background_color:lighten($first_color, 2%);
// typo
$first_typo_color: $second_color;
$second_typo_color: $first_color;

$highlight_transparent_color:transparentize($third_color,0.5);
$highlight_dark_color:darken($third_color,10%);