/*------------------------------------*\
    $Sizes
\*------------------------------------*/
// basics
$grid_height_unit:26px;
$grid_halfHeight_unit:$grid_height_unit/2;
$grid_heighthalfHeight_unit:$grid_height_unit+$grid_halfHeight_unit;

$grid_total_maxheight:650px;

/*------------------------------------*\
    $breakpoints
\*------------------------------------*/
/* mobil */
//default_width!!!!!!!
/* tablets */
$media_tablet_width: 768px;
/* desktop Monitore */
$media_desktop_width: 1025px;
/* large desktop Monitore */
$media_large_desktop_width: 1241px;
/* HD desktop Monitore */
$media_HD_desktop_width: 1441px;

/*------------------------------------*\
    $colors
\*------------------------------------*/
// definition
$first_color:#F9F7F2; 
$second_color:#333;
$third_color:#181818;//#50E3C2;

.nhkjh{
background-color: #181818;
}

$first_highlight_color:#F4DDDC;
$second_highlight_color:#A4ECD9;
$third_highlight_color:#F9CEB0;

$second_darker_color: darken($second_color, 10%);

$highlight_color: $third_color;
// shadow
$shadow_color:rgba(0,0,0,0.10);

/**/
$blend-mode-color: transparentize($first_color, 0.5);
$line-color: transparentize($second_color, 0.9);
// global use
// bg
$first_background_color:$first_color;
$second_background_color:$second_color;
$third_background_color:$third_color;

//
$first_lighter_background_color:lighten($first_color, 2%);
// typo
$first_typo_color: $second_color;
$second_typo_color: $first_color;

$highlight_transparent_color:transparentize($third_color,0.5);
$first_transparent_dark_color: transparentize($first_color, 0.2);
$highlight_dark_color:darken($third_color,10%);

$second_lightHeavy_color: lighten($second_color, 30%);
$first_transparent_light_color: transparentize($first_color, 0.6);

$second_typo_info_color: $second_lightHeavy_color;
$second_typo_hover_color: $first_transparent_light_color;
$second_typo_hover_background_color: $first_transparent_dark_color;
$second_typo_selected_color: $second_lightHeavy_color;

$first_shadow_color : $shadow_color;
/*------------------------------------*\
    z-index : from lowest to highest
\*------------------------------------*/


$zIndex--Site-highlight-one-loading:auto;//-10001;
$zIndex--Site-highlight-two-loading:auto;//-10002;
$zIndex--Site-highlight-three-loading:auto;//-10003;

$zIndex--content-main:-100; /*only on Content.html level*/

$zIndex--Site-highlight-one:auto;
$zIndex--Site-highlight-two:auto;
$zIndex--Site-highlight-three:auto;

$zIndex--menuBgEffect:-10;

$zIndex--animatedBG:-11;
$zIndex--nav-hightlight-main:auto;
$zIndex--Site-highlight-right:50;

$zIndex--nav-hightlight-element--h4:100;//-200001;


$zIndex--header:3000;
$zIndex--second-menu-wrapper:3500;
$zIndex--footer:4000;

$zIndex--menu-wrapper:50000;



/// Pattern

$zIndex--pattern:auto;//5200;
$zIndex--pattern-horizontal:auto;//-1000;
$zIndex--pattern-vertical:auto;//-2002;
$zIndex--pattern-svg:auto;//10000;