@charset "UTF-8";
/*------------------------------------*    $VARIABLES in SCSS
\*------------------------------------*/
/*local Colors definitions*/
/*
$first_color: rgba(243, 242, 238, 1);
$second_color: rgba(51, 51, 51, 1);
$third_color:blue; //blue
/**/
/*
$first_color:#1CAF9A;
$second_color:#1D2939;
/**/
/*
$first_color:white;
$second_color:#111;
/**/
/*local Colors definitions*/
/*
$first_color: rgba(243, 242, 238, 1);
$second_color: rgba(51, 51, 51, 1);
$third_color:blue; //blue
/**/
/*
$first_color:#1CAF9A;
$second_color:#1D2939;
/**/
/*
$first_color:white;
$second_color:#111;
/**/
/*
$first_color:transparentize(#FFF797,0.1);
$second_color:#E84135; //red
$third_color:transparentize(#252164,0.1);
/*
$first_color:#1CAF9A; //pink
$second_color:#1D2939; //red
$third_color:white; //blue
/*+/

/*
$first_color: transparentize(#000, 0.01); //pink
$second_color:darken(#FF197F, 0.7); ; //red
$third_color:transparentize(#333, 0.5); //pink
/*
$first_color: transparentize(#333, 0.9); //pink
$second_color:#222; //red
$third_color:transparentize(#00FFFF, 0.3);

/*
$first_color:#FBDCE4; //pink
$second_color:#E84135; //red
$third_color:#252164; //blue
/*
$first_color:#1CAF9A; //pink
$second_color:#1D2939; //red
$third_color:white; //blue
/*

$first_color:#1CAF9A;
$second_color:#1D2939;
$third_color:white; //blue
/**/
/**/
/* line 82, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/variables.scss */
.testColor {
  color: rgba(255, 255, 255, 0.2); }

/**/
/*
$gradient_first_color:rgba(238, 238, 226, 0.2);
$gradient_second_color:rgba(226, 199, 171, 0.2);
/*
$gradient_color:linear-gradient(135deg, $gradient_first_color 0%,$gradient_second_color 100%);
$gradient_opposite_color:linear-gradient(135deg, $gradient_second_color 0%, $gradient_first_color 100%);
/*
$gradient_color:linear-gradient(135deg, rgba(28,175,154,1) 0%, rgba(231,56,39,1) 100%);
$gradient_opposite_color:linear-gradient(135deg, rgba(73,155,234,0.4) 0%, rgba(227,32,32,0.2) 100%);
/**/
/**/
/*local Colors settings*/
/*global use*/
/*color*/
/*------------------------------------*/
/* line 3, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
body {
  background-color: #F9F7F2; }

/* line 7, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.second-color {
  background-color: #333 !important;
  color: #F9F7F2 !important; }

/* line 11, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.highlight-color {
  background-color: #50E3C2; }

/* line 15, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.second-color a {
  color: #F9F7F2; }

/* line 18, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.first-darker-background {
  background-color: #fbf9f5; }

/* line 22, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.first-background {
  background-color: #F9F7F2 !important; }

/* line 25, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.second-background {
  background-color: #333 !important; }

/* line 29, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.lighter-background {
  background-color: #fcfbf9; }

/*-------------------*/
/* line 35, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.second-big-line {
  background-color: #333;
  width: 52px;
  height: 4px; }

/* line 41, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.light-shadow {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }

/* line 45, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

/* line 51, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 1px solid rgba(249, 247, 242, 0.7); }

/*------------------*/
/* line 60, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.underlined {
  width: inherit; }

/* line 63, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.underlined::after {
  content: '';
  display: block;
  height: 1px;
  max-width: 26px;
  margin: 0;
  background-color: #333; }

/* line 71, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.second-color .underlined::after {
  background-color: #F9F7F2; }

/* mobil */
/* line 75, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.only-mobil, .no-desktop {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

/* line 78, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
.no-mobil, .no-mobil-and-tablet, only-tablet {
  display: none !important; }

/* tablet */
@media only screen and (min-width: 760px) {
  /* line 84, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
  .no-mobil {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  /* line 87, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
  only-mobil {
    display: none !important; }
  /* line 90, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
  .only-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

/* big tablet */
/* desktop Monitore */
@media only screen and (min-width: 1024px) {
  /* line 101, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
  .only-tablet, .no-desktop {
    display: none !important; }
  /* line 104, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/general.scss */
  .no-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@font-face {
  font-family: 'heuristicabold';
  font-style: normal;
  font-weight: 400;
  src: local("heuristica bold"), url(../fonts/heuristica-bold-webfont.woff) format("woff"); }

@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Bold"), url("../fonts/BEBASNEUE BOLD.woff") format("woff"); }

@font-face {
  font-family: 'Majesti Banner Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Majesti Banner Bold"), url(../fonts/Majesti-Banner-Bold.oft) format("oft"); }

/* line 23, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
.icon-twoto_logo:before {
  content: '\0041'; }

/* Generated by Glyphter (http://www.glyphter.com) on  Fri Feb 12 2016*/
@font-face {
  font-family: 'twotosymbols';
  src: url(../fonts/twotosymbols.eot);
  src: url(../fonts/twotosymbols.eot?#iefix) format("embedded-opentype"), url(../fonts/twotosymbols.woff) format("woff"), url(../fonts/twotosymbols.ttf) format("truetype"), url(../fonts/twotosymbols.svg#twotosymbols) format("svg");
  font-weight: 400;
  font-style: normal; }

/* line 36, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
[class*='icon-']:before {
  display: inline-block;
  font-family: 'twotosymbols';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 46, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
.icon-logo:before {
  content: '\0041'; }

/* line 50, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
.icon-close:before {
  content: '\0042'; }

/*------------------------------------*/
/* Typography */
/*------------------------------------*/
/* line 57, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
body, a .text-style {
  font-family: 'Fira Sans',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #333; }

/* line 64, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
h1 {
  font-family: 'Majesti Banner Bold','heuristicabold',Georgia,serif;
  font-size: 48px;
  color: #333;
  line-height: 58px; }

/* line 73, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
h2 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #333;
  line-height: 38px; }

/* line 81, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
h3 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #333;
  line-height: 29px; }

/* line 89, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #333;
  line-height: 18px;
  font-style: italic;
  text-transform: uppercase; }

/* line 99, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
h5 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
  line-height: 34px; }

/* line 107, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
h6 {
  font-family: 'Bebas Neue Bold',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  line-height: 14px;
  text-transform: uppercase; }

/* line 116, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  text-decoration: none; }

/* line 125, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
q, blockquote {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

/* line 135, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
sup {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  color: #F9F7F2; }

/*------------secondary Texts------------------*/
/* line 143, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
.info, .footer-txt, .footer-txt a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 14px;
  font-style: italic; }

/* line 151, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
.footer-txt, .footer-txt a {
  font-size: 10px;
  text-transform: none !important; }

/* line 156, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/fonts.scss */
sup.label-next {
  font-size: .75rem;
  line-height: inherit; }

/* line 2, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/pattern.scss */
.pattern-horizontal {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 1240px;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 25%;
  background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255, 0, 171, 0.05) 50%);
  z-index: 1000;
  display: none; }

/* line 14, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/pattern.scss */
.pattern-vertical {
  position: absolute;
  top: 0;
  height: 1240px;
  width: 1240px;
  max-height: 1240px;
  max-width: 1240px;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 13px;
  background-image: -webkit-linear-gradient(90deg, transparent 1px, rgba(255, 0, 171, 0.05) 1px);
  z-index: 2002;
  display: none; }

/* line 1, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
header {
  position: absolute;
  top: 0; }

/*------------------------------------*/
/* menu Navigation */
/*------------------------------------*/
/* line 8, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 14, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.logo {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  font-size: 34px; }

/* line 19, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-left .info, .logo {
  color: #F9F7F2;
  /* special case for dark start*/ }

/* line 23, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.icon-logo-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #F9F7F2;
  font-size: 34px;
  padding-bottom: 26px;
  font-style: normal;
  /* cool effect
    font-style: italic;
    width: 56px;
    */ }

/* line 36, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.icon-close-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #F9F7F2;
  font-size: 20px;
  padding-top: 19px;
  padding-left: 1px;
  font-style: normal;
  text-align: center;
  /* cool effect
    font-style: italic;
    width: 56px;
    */ }

/* line 50, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 65px;
  height: 65px; }

/* line 58, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(51, 51, 51, 0.98);
  overflow: auto;
  text-align: center;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch; }

/* line 73, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav span {
  background-color: transparent;
  font-size: 12px; }

/* line 78, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* line 84, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/* line 90, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li.nav-placeholder {
  height: 56px; }

/* line 94, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 100, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li.info p {
  color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

/* line 107, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/* line 115, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/* line 122, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main .navigation-left {
  position: fixed;
  top: 0; }

/* line 127, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li, .nav-main li h3 {
  color: #F9F7F2;
  font-style: italic; }

/* line 132, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li a h3 {
  text-transform: uppercase; }

/* line 136, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li a h3 {
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative; }

/* line 142, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li a:hover h3 {
  background-color: rgba(249, 247, 242, 0.8); }

/* line 146, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-close {
  position: absolute;
  top: 0;
  left: 0; }

/* line 152, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navi-selected a h3 {
  color: gray; }

/* line 156, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navi-selected a:hover h3 {
  background-color: #333 !important; }

/* line 160, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-open, .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

/* line 167, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer; }

/* line 172, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-close {
  display: none; }

/* line 176, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-close.is-visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 180, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-open.is-invisible {
  display: none; }

/* line 184, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-open a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

/* line 188, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-open h6 {
  color: #333;
  padding-top: 2px; }

/* line 193, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-container {
  position: relative;
  height: 52px; }

/* line 198, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-left {
  /*flex:2 50%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px; }

/* line 208, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-left .info {
  text-transform: uppercase;
  padding: 0;
  padding-left: 13px;
  padding-top: 6px; }

/* line 215, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-elts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
      -ms-flex: 1 25%;
          flex: 1 25%;
  height: inherit; }

/* line 221, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-elts .nav-placeholder {
  -webkit-box-flex: 2;
  -webkit-flex: 2 50%;
      -ms-flex: 2 50%;
          flex: 2 50%;
  height: inherit; }

/* line 226, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.navigation-right {
  display: none; }

/* line 230, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-main li a:hover h3 {
  background-color: transparent; }

/* line 234, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-close {
  visibility: hidden; }

/* line 238, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-close.is-visible {
  visibility: visible; }

/* line 242, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-close .info {
  color: gray; }

/* line 247, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.menu-button .underlined {
  display: inline-block;
  width: inherit; }

/*av-quote-bg*/
/* line 252, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-quote-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 0%;
  line-height: 20vw;
  text-align: center;
  background: none; }

/* line 263, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-quote-bg h2 {
  font-family: 'heuristicabold',Georgia,serif;
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-size: 15vw;
  margin: 0;
  box-sizing: border-box;
  padding-top: 104px;
  padding-top: 17vw;
  color: rgba(80, 227, 194, 0.1);
  text-transform: uppercase;
  font-style: italic; }

/* line 279, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-quote-bg {
  width: 100%;
  height: 100%;
  visibility: hidden; }

/* line 285, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-quote-bg.is-visible {
  visibility: visible; }

/*effects - without animations*/
/*------------------------------------*/
/* line 294, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
.nav-hover-bg-effect {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #50E3C2; }

/* Tabletts */
@media only screen and (min-width: 760px) {
  /* line 304, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .nav-quote-bg h2 {
    font-size: 120px;
    font-size: 15vw; } }

/* desktop Monitore */
@media only screen and (min-width: 1024px) {
  /* line 312, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .logo, .navigation-left .info {
    color: #333; }
  /* line 315, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .nav-quote-bg h2 {
    font-size: 170px;
    font-size: 15vw;
    padding-top: 13vw; }
  /* line 320, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .nav-intro {
    visibility: hidden; }
  /* line 323, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .menu-wrapper {
    margin: auto;
    right: 0;
    left: 0;
    bottom: auto;
    top: 19px; } }

@media only screen and (max-height: 701px) and (min-width: 1025px) {
  /* line 332, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .menu-out {
    left: auto;
    top: auto;
    right: 26px;
    bottom: 26px; }
  /* line 339, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/navigation.scss */
  .nav-intro {
    visibility: visible; } }

/*------------------------------------*    $second-navi
\*------------------------------------*/
/* line 5, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.second-menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 117px;
  width: 65px;
  height: 65px; }

/* line 14, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.open-side-navi {
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  font-size: 12px;
  background-color: #F9F7F2;
  padding: 20px 13px 13px 13px; }

/* line 25, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: auto;
  right: 0;
  height: 0;
  width: 100%;
  visibility: visible; }

/* line 36, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.right-navi-is-open .nav {
  visibility: visible; }

/* line 39, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.navigation-wrapper {
  position: absolute;
  right: 0;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #333; }

/* line 51, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.navigation-scroll {
  overflow: auto;
  max-height: 100vh;
  background-color: blue; }

/* line 56, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.right-navi-is-open .navigation-wrapper {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s; }

/* line 62, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
.second-menu-wrapper.is-invisible {
  display: none; }

@media only screen and (min-width: 760px) {
  /* line 66, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
  .navigation-wrapper {
    width: 320px; } }

@media only screen and (min-width: 980px) {
  /* line 71, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
  .second-menu-wrapper {
    right: 26px;
    top: 26px;
    bottom: auto; }
  /* line 77, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/secondaryNavigation.scss */
  .second-menu-wrapper .circle {
    background: none;
    box-shadow: none; } }

/*------------------------------------*    $MAIN
\*------------------------------------*/
/* line 12, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
html, body {
  height: 100%; }

/* line 15, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden; }

/* line 21, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.header {
  position: relative;
  margin: 0 auto;
  width: inherit;
  max-width: 1240px; }

/* line 28, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.main-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  padding: 0px 13px 13px 0; }

/* line 40, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.right-navi-is-open .main-content {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  width: 50%;
  padding-right: 14%;
  padding-left: 0; }

/* line 46, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.headline {
  text-align: center;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 26px;
  max-width: 884px; }

/* line 55, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.introduction {
  text-align: center;
  margin: 0 auto;
  padding-top: 52px;
  max-width: 624px; }

/* line 61, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.simple-copy {
  margin: 0 auto;
  max-width: 624px;
  padding-top: 52px; }

/* line 67, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.simple-copy, .introduction, .headline {
  padding-left: 13px;
  padding-right: 13px; }

/* line 73, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-elt {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  overflow: hidden; }

/* line 82, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-center-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 26px; }

/* line 89, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-project .grid-center-elt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

/* line 102, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-center-elt .second-color-txt h4, .grid-center-elt .second-color-txt .info {
  color: #F9F7F2; }

/* line 105, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-center-elt .first-color-txt h4, .grid-center-elt .first-color-txt .info {
  color: #333; }

/* line 109, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #F9F7F2; }

/* line 117, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
.grid-image img {
  width: 100%; }

@media only screen and (min-width: 760px) {
  /* line 121, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/content.scss */
  .headline {
    padding-top: 104px; } }

/*------------------------------------*    $END
\*------------------------------------*/
/* line 1, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.underlined:after {
  max-width: 52px;
  -webkit-transition: width .5s;
  transition: width .5s;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

/* line 8, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.menu-button .underlined:after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0); }

/* line 13, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
a.hover-effect:hover .underlined::after, .hover-effect:hover .underlined::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

/* line 17, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.inverted-effect:hover .inverted-target-effect {
  box-shadow: inset 0 0 0 170px rgba(249, 247, 242, 0.8);
  -webkit-transition: box-shadow .7s;
  transition: box-shadow .7s; }

/* line 22, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.inverted-effect .inverted-target-effect {
  box-shadow: inset 0 0 0 #24dcb3;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

/* line 29, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.inverted-second-effect:hover .inverted-target-second-effect {
  box-shadow: inset 0 0 0 170px rgba(51, 51, 51, 0.7);
  -webkit-transition: box-shadow 1.7s;
  transition: box-shadow 1.7s; }

/* line 35, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.inverted-second-effect .inverted-target-second-effect {
  box-shadow: inset 0 0 0 #24dcb3;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

/* line 41, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect:hover .grid-center-elt.with-image {
  box-shadow: inset 0 0 0 140px rgba(80, 227, 194, 0.5);
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

/* line 46, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect .grid-center-elt.with-image {
  box-shadow: inset 0 0 0 0 #24dcb3;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

/* line 51, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect:hover .grid-center-elt {
  box-shadow: inset 0 0 0 150px #24dcb3;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

/* line 56, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect:hover .first-color-txt h4, .hover-preview-effect:hover .first-color-txt p {
  color: #F9F7F2; }

/* line 60, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect .grid-image {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

/* line 65, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect:hover .grid-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

/* line 69, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect .first-color-txt, .hover-preview-effect .second-color-txt {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

/* line 74, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-preview-effect:hover .first-color-txt, .hover-preview-effect:hover .second-color-txt {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s; }

/* line 79, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-zoomUp-effect {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

/* line 84, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.hover-zoomUp-effect:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

/* line 89, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.nav-hover-bg-effect {
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

/* line 96, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.nav-elt:hover .nav-hover-bg-effect {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

/* line 101, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.nav-main {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s; }

/* line 107, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.nav-main.is-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

/* line 111, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.nav-close, .nav-quote-bg {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s; }

/* line 117, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/animations.scss */
.nav-close.is-visible, .nav-quote-bg.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

/*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
/* line 31, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/blendmodes.scss */
.first-gradient-bg {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1); }

@media only screen and (min-width: 1025px) {
  /* line 36, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/blendmodes.scss */
  .first-gradient-bg {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1); } }

/*-----------------*/
/* index*/
/*-----------------*/
/* line 5, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.nav-hover-bg-effect {
  z-index: -1; }

/* line 8, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.static-bg {
  z-index: 0; }

/* line 12, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.light-shadow {
  z-index: 4; }

/* line 15, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.grid-image, .grid-headline, .grid-project .grid-center-elt, .grid-center-elt q, .grid-info a {
  z-index: 49; }

/* line 18, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.grid-project .grid-center-elt {
  z-index: 50; }

/* line 23, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
header {
  z-index: 99; }

/* line 27, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.open-side-navi {
  z-index: 100; }

/* line 31, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.nav-main {
  z-index: 110; }

/* line 34, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.nav-close {
  z-index: 113; }

/* line 37, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.menu-wrapper {
  z-index: 500; }

/* line 40, /Users/patrickdecaix/00_work/00_twotocom/html_Files/actual/final/assets/precompiled/indexing.scss */
.second-menu-wrapper {
  z-index: 501; }
