@charset "UTF-8";
/*------------------------------------*    $VARIABLES in SCSS
\*------------------------------------*/
/*local Colors definitions*/
/*
$first_color: rgba(243, 242, 238, 1);
$second_color: rgba(51, 51, 51, 1);
$third_color:blue; //blue
/**/
/*
$first_color:#1CAF9A;
$second_color:#1D2939;
/**/
/*
$first_color:white;
$second_color:#111;
/**/
/*local Colors definitions*/
/*
$first_color: rgba(243, 242, 238, 1);
$second_color: rgba(51, 51, 51, 1);
$third_color:blue; //blue
/**/
/*
$first_color:#1CAF9A;
$second_color:#1D2939;
/**/
/*
$first_color:white;
$second_color:#111;
/**/
/*
$first_color:transparentize(#FFF797,0.1);
$second_color:#E84135; //red
$third_color:transparentize(#252164,0.1);
/*
$first_color:#1CAF9A; //pink
$second_color:#1D2939; //red
$third_color:white; //blue
/*+/

/*
$first_color: transparentize(#000, 0.01); //pink
$second_color:darken(#FF197F, 0.7); ; //red
$third_color:transparentize(#333, 0.5); //pink
/*
$first_color: transparentize(#333, 0.9); //pink
$second_color:#222; //red
$third_color:transparentize(#00FFFF, 0.3);

/*
$first_color:#FBDCE4; //pink
$second_color:#E84135; //red
$third_color:#252164; //blue
/*
$first_color:#1CAF9A; //pink
$second_color:#1D2939; //red
$third_color:white; //blue
/*

$first_color:#1CAF9A;
$second_color:#1D2939;
$third_color:white; //blue
/**/
/**/
.testColor {
  color: rgba(255, 255, 255, 0.2); }

/**/
/*
$gradient_first_color:rgba(238, 238, 226, 0.2);
$gradient_second_color:rgba(226, 199, 171, 0.2);
/*
$gradient_color:linear-gradient(135deg, $gradient_first_color 0%,$gradient_second_color 100%);
$gradient_opposite_color:linear-gradient(135deg, $gradient_second_color 0%, $gradient_first_color 100%);
/*
$gradient_color:linear-gradient(135deg, rgba(28,175,154,1) 0%, rgba(231,56,39,1) 100%);
$gradient_opposite_color:linear-gradient(135deg, rgba(73,155,234,0.4) 0%, rgba(227,32,32,0.2) 100%);
/**/
/**/
/*local Colors settings*/
/*global use*/
/*color*/
/*------------------------------------*/
body {
  background-color: #f1f1f1; }

.second-color {
  background-color: #333333 !important;
  color: #f1f1f1 !important; }

.second-color a {
  color: #f1f1f1; }

.first-darker-background {
  background-color: #f4f4f4; }

.first-background {
  background-color: #f1f1f1 !important; }

.second-background {
  background-color: #333333 !important; }

.lighter-background {
  background-color: #f6f6f6; }

/*-------------------*/
.second-big-line {
  background-color: #333333;
  width: 52px;
  height: 4px; }

.light-shadow {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1); }

.circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

.dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: 1px solid rgba(241, 241, 241, 0.7); }

/*------------------*/
.no-mobil {
  display: none !important; }

.underlined {
  width: inherit; }

.underlined::after {
  content: '';
  display: block;
  height: 1px;
  max-width: 26px;
  margin: 0;
  background-color: #333333; }

.second-color .underlined::after {
  background-color: #f1f1f1; }

@media only screen and (min-width: 980px) {
  .only-mobil {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .no-mobil {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .only-mobil {
    display: none !important; } }

@font-face {
  font-family: 'heuristicabold';
  font-style: normal;
  font-weight: 400;
  src: local("heuristica bold"), url(../fonts/heuristica-bold-webfont.woff) format("woff"); }

@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Bold"), url("../fonts/BEBASNEUE BOLD.woff") format("woff"); }

@font-face {
  font-family: 'Majesti Banner Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Majesti Banner Bold"), url(../fonts/Majesti-Banner-Bold.oft) format("oft"); }

.icon-twoto_logo:before {
  content: '\0041'; }

/* Generated by Glyphter (http://www.glyphter.com) on  Fri Feb 12 2016*/
@font-face {
  font-family: 'twotosymbols';
  src: url(../fonts/twotosymbols.eot);
  src: url(../fonts/twotosymbols.eot?#iefix) format("embedded-opentype"), url(../fonts/twotosymbols.woff) format("woff"), url(../fonts/twotosymbols.ttf) format("truetype"), url(../fonts/twotosymbols.svg#twotosymbols) format("svg");
  font-weight: 400;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'twotosymbols';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo:before {
  content: '\0041'; }

.icon-close:before {
  content: '\0042'; }

/*------------------------------------*/
/* Typography */
/*------------------------------------*/
body, a .text-style {
  font-family: 'Fira Sans',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #333333; }

h1 {
  font-family: 'Majesti Banner Bold','heuristicabold',Georgia,serif;
  font-size: 48px;
  color: #333333;
  line-height: 58px; }

h2 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #333333;
  line-height: 38px; }

h3 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #333333;
  line-height: 29px; }

h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #333333;
  line-height: 18px;
  font-style: italic;
  text-transform: uppercase; }

h5 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  line-height: 34px; }

h6 {
  font-family: 'Bebas Neue Bold',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
  line-height: 14px;
  text-transform: uppercase; }

a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
  text-decoration: none; }

q, blockquote {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

sup {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  color: #f1f1f1; }

/*------------secondary Texts------------------*/
.info, .footer-txt, .footer-txt a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333333;
  line-height: 14px;
  font-style: italic; }

.footer-txt, .footer-txt a {
  font-size: 10px;
  text-transform: none !important; }

sup.label-next {
  font-size: .75rem;
  line-height: inherit; }

.pattern-horizontal {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 1240px;
  background-color: rgba(212, 153, 162, 0.1);
  background-size: 25%;
  background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255, 0, 171, 0.1) 50%);
  z-index: 1000; }

.pattern-vertical {
  position: absolute;
  top: 0;
  height: 1240px;
  width: 1240px;
  max-height: 1240px;
  max-width: 1240px;
  background-color: rgba(212, 153, 162, 0.1);
  background-size: 13px;
  background-image: -webkit-linear-gradient(90deg, transparent 1px, rgba(255, 0, 171, 0.1) 1px);
  z-index: 2002; }

header {
  position: absolute;
  top: 0; }

/*------------------------------------*/
/* menu Navigation */
/*------------------------------------*/
header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #333333;
  font-size: 34px; }

.icon-logo-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: gray;
  font-size: 34px;
  padding-bottom: 26px;
  font-style: normal;
  /* cool effect
    font-style: italic;
    width: 56px;
    */ }

.icon-close-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #f1f1f1;
  font-size: 20px;
  padding-top: 19px;
  padding-left: 1px;
  font-style: normal;
  text-align: center;
  /* cool effect
    font-style: italic;
    width: 56px;
    */ }

.menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 65px;
  height: 65px; }

.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(51, 51, 51, 0.98);
  overflow: auto;
  text-align: center;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch; }

.nav span {
  background-color: transparent;
  font-size: 12px; }

.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav-main li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main li.nav-placeholder {
  height: 56px; }

.nav-main li.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li.info p {
  color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.nav-main li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main .navigation-left {
  position: fixed;
  top: 0; }

.nav-main li, .nav-main li h3 {
  color: #f1f1f1;
  font-style: italic; }

.nav-main li a h3 {
  text-transform: uppercase; }

.nav-main li a h3 {
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative; }

.nav-main li a:hover h3 {
  background-color: rgba(241, 241, 241, 0.8); }

.nav-close {
  position: absolute;
  top: 0;
  left: 0; }

.navi-selected a h3 {
  color: gray; }

.navi-selected a:hover h3 {
  background-color: #333333 !important; }

.menu-open, .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.menu-center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer; }

.menu-close {
  display: none; }

.menu-close.is-visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-open.is-invisible {
  display: none; }

.menu-open a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.menu-open h6 {
  color: #333333;
  padding-top: 2px; }

.navigation-container {
  position: relative;
  height: 52px; }

.navigation-left {
  /*flex:2 50%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px; }

.navigation-left .info {
  text-transform: uppercase;
  padding: 0;
  padding-left: 13px;
  padding-top: 6px; }

.navigation-elts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
      -ms-flex: 1 25%;
          flex: 1 25%;
  height: inherit; }

.navigation-elts .nav-placeholder {
  -webkit-box-flex: 2;
  -webkit-flex: 2 50%;
      -ms-flex: 2 50%;
          flex: 2 50%;
  height: inherit; }

.navigation-right {
  display: none; }

.nav-main li a:hover h3 {
  background-color: transparent; }

.nav-close {
  visibility: hidden; }

.nav-close.is-visible {
  visibility: visible; }

.nav-close .info {
  color: gray; }

.menu-button .underlined {
  display: inline-block;
  width: inherit; }

/*av-quote-bg*/
.nav-quote-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 0%;
  line-height: 20vw;
  text-align: center;
  background: none; }

.nav-quote-bg h2 {
  font-family: 'heuristicabold',Georgia,serif;
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-size: 15vw;
  margin: 0;
  box-sizing: border-box;
  padding-top: 104px;
  padding-top: 17vw;
  color: rgba(255, 0, 0, 0.1);
  text-transform: uppercase;
  font-style: italic; }

.nav-quote-bg {
  width: 100%;
  height: 100%;
  visibility: hidden; }

.nav-quote-bg.is-visible {
  visibility: visible; }

/*effects - without animations*/
/*------------------------------------*/
.nav-hover-bg-effect {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red; }

/* Tabletts */
@media only screen and (min-width: 760px) {
  .nav-quote-bg h2 {
    font-size: 120px;
    font-size: 15vw; } }

/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .nav-quote-bg h2 {
    font-size: 170px;
    font-size: 15vw;
    padding-top: 13vw; }
  .nav-intro {
    visibility: hidden; }
  .menu-wrapper {
    margin: auto;
    right: 0;
    left: 0;
    bottom: auto;
    top: 26px; } }

@media only screen and (max-height: 701px) and (min-width: 1025px) {
  .menu-out {
    left: auto;
    top: auto;
    right: 26px;
    bottom: 26px; }
  .nav-intro {
    visibility: visible; } }

@media only screen and (min-width: 1240px) {
  .navigation-left {
    padding-left: 0; } }

/*------------------------------------*    $second-navi
\*------------------------------------*/
.second-menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 117px;
  width: 65px;
  height: 65px; }

.open-side-navi {
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  font-size: 12px;
  background-color: #f1f1f1;
  padding: 20px 13px 13px 13px; }

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: auto;
  right: 0;
  height: 0;
  width: 100%;
  visibility: visible; }

.right-navi-is-open .nav {
  visibility: visible; }

.navigation-wrapper {
  position: absolute;
  right: 0;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #333333; }

.navigation-scroll {
  overflow: auto;
  max-height: 100vh;
  background-color: blue; }

.right-navi-is-open .navigation-wrapper {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s; }

.second-menu-wrapper.is-invisible {
  display: none; }

@media only screen and (min-width: 760px) {
  .navigation-wrapper {
    width: 320px; } }

@media only screen and (min-width: 980px) {
  .second-menu-wrapper {
    right: 26px;
    top: 26px;
    bottom: auto; }
  .second-menu-wrapper .circle {
    background: none;
    box-shadow: none; } }

/*------------------------------------*    $MAIN
\*------------------------------------*/
html, body {
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden; }

.header {
  position: relative;
  margin: 0 auto;
  width: inherit;
  max-width: 1240px; }

.main-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  padding: 0px 13px 13px 0; }

.right-navi-is-open .main-content {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  width: 50%;
  padding-right: 14%;
  padding-left: 0; }

.headline {
  text-align: center;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 104px;
  max-width: 884px; }

.introduction {
  text-align: center;
  margin: 0 auto;
  padding-top: 52px;
  max-width: 624px; }

.simple-copy {
  margin: 0 auto;
  max-width: 624px;
  padding-top: 52px; }

.grid-elt {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 260px;
  overflow: hidden; }

.grid-center-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 26px; }

.grid-project .grid-center-elt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 49;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.grid-center-elt .second-color-txt h4, .grid-center-elt .second-color-txt .info {
  color: #f1f1f1; }

.grid-center-elt .first-color-txt h4, .grid-center-elt .first-color-txt .info {
  color: #333333; }

.grid-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #f1f1f1; }

.grid-image img {
  width: 100%; }

/*------------------------------------*    $END
\*------------------------------------*/
.underlined:after {
  max-width: 52px;
  -webkit-transition: width .5s;
  transition: width .5s;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

.menu-button .underlined:after {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0); }

a.hover-effect:hover .underlined::after, .hover-effect:hover .underlined::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

.inverted-effect:hover .inverted-target-effect {
  box-shadow: inset 0 0 0 170px rgba(241, 241, 241, 0.8);
  -webkit-transition: box-shadow .7s;
  transition: box-shadow .7s; }

.inverted-effect .inverted-target-effect {
  box-shadow: inset 0 0 0 #cc0000;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

.inverted-second-effect:hover .inverted-target-second-effect {
  box-shadow: inset 0 0 0 170px rgba(51, 51, 51, 0.7);
  -webkit-transition: box-shadow 1.7s;
  transition: box-shadow 1.7s; }

.inverted-second-effect .inverted-target-second-effect {
  box-shadow: inset 0 0 0 #cc0000;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

.hover-preview-effect:hover .grid-center-elt.with-image {
  box-shadow: inset 0 0 0 140px rgba(255, 0, 0, 0.5);
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

.hover-preview-effect .grid-center-elt.with-image {
  box-shadow: inset 0 0 0 0 #cc0000;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

.hover-preview-effect:hover .grid-center-elt {
  box-shadow: inset 0 0 0 150px #cc0000;
  -webkit-transition: box-shadow .4s;
  transition: box-shadow .4s; }

.hover-preview-effect:hover .first-color-txt h4, .hover-preview-effect:hover .first-color-txt p {
  color: #f1f1f1; }

.hover-preview-effect .grid-image {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

.hover-preview-effect:hover .grid-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

.hover-preview-effect .first-color-txt, .hover-preview-effect .second-color-txt {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.hover-preview-effect:hover .first-color-txt, .hover-preview-effect:hover .second-color-txt {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s; }

.hover-zoomUp-effect {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.hover-zoomUp-effect:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.nav-hover-bg-effect {
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.nav-elt:hover .nav-hover-bg-effect {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out; }

.nav-main {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s; }

.nav-main.is-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.nav-close, .nav-quote-bg {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s; }

.nav-close.is-visible, .nav-quote-bg.is-visible {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

/*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
.first-gradient-bg {
  background: -webkit-linear-gradient(70deg, rgba(217, 137, 198, 0) 10%, rgba(255, 0, 0, 0.2) 100%);
  background: linear-gradient(20deg, rgba(217, 137, 198, 0) 10%, rgba(255, 0, 0, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1); }

@media only screen and (min-width: 1025px) {
  .first-gradient-bg {
    background: -webkit-linear-gradient(350deg, rgba(217, 137, 198, 0.01) 10%, rgba(255, 0, 0, 0.6) 100%);
    background: linear-gradient(100deg, rgba(217, 137, 198, 0.01) 10%, rgba(255, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1); } }

.static-bg {
  mix-blend-mode: multiply; }

/*-----------------*/
/* index*/
/*-----------------*/
.nav-hover-bg-effect {
  z-index: -1; }

.static-bg {
  z-index: 0; }

.light-shadow {
  z-index: 4; }

.grid-image, .grid-headline, .grid-project .grid-center-elt, .grid-center-elt q, .grid-info a {
  z-index: 49; }

.grid-project .grid-center-elt {
  z-index: 50; }

header {
  z-index: 99; }

.open-side-navi {
  z-index: 100; }

.nav-main {
  z-index: 110; }

.nav-close {
  z-index: 113; }

.menu-wrapper {
  z-index: 500; }

.second-menu-wrapper {
  z-index: 501; }
