html, body {
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px; }

.main-container {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: black;
  width: 100%; }

.grid-content {
  background-color: yellow;
  width: 100%; }

.open-side-navi {
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  font-size: 12px;
  background-color: green;
  z-index: 1000;
  padding: 13px; }

.open-side-navi a:hover .contextual-navi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: fuchsia; }

.open-side-navi a:hover .grid-content {
  background-color: fuchsia; }

.main-container {
  height: 100%; }

.contextual-navi {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: red;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  width: 100%; }

.scroll-container {
  min-height: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

p {
  width: 80%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: gray; }

.is-visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  background-color: #095d28; }

.preview {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.blue {
  background-color: blue; }

.scroll-container .blue {
  background-color: blue; }

@media only screen and (min-width: 760px) {
  .contextual-navi {
    width: 320px; } }

@media only screen and (min-width: 760px) {
  .contextual-navi {
    width: 320px; } }
