@charset "UTF-8";
/*------------------------------------*    $VARIABLES in SCSS
\*------------------------------------*/
.testColor {
  color: rgba(255, 255, 255, 0.2); }

/**/
/**/
/*local Colors settings*/
/*global use*/
/*color*/
/*------------------------------------*/
body {
  background-color: #F9F7F2; }

.second-color {
  background-color: #333 !important;
  color: #F9F7F2 !important; }

.highlight-color {
  background-color: #50E3C2; }

.second-color a {
  color: #F9F7F2; }

.first-darker-background {
  background-color: #fbf9f5; }

.first-color-txt {
  color: #333 !important; }

.second-color-txt {
  color: #F9F7F2 !important; }

.first-background {
  background-color: #F9F7F2 !important; }

.second-background {
  background-color: #333 !important; }

.transparent-second-background {
  background-color: rgba(26, 26, 26, 0.7) !important; }

.third-background {
  background-color: #50E3C2 !important; }

.lighter-background {
  background-color: #fcfbf9; }

.test-background {
  background-color: #fcfbf9; }

/*-------------------*/
.second-big-line {
  background-color: #333;
  width: 52px;
  height: 4px; }

.light-shadow {
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1); }

.heavy-shadow {
  box-shadow: 0px 1px 60px rgba(0, 0, 0, 0.1); }

.circle, .dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

.dark-circle-with-border {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  box-shadow: inset 0 0 1px rgba(249, 247, 242, 0.7); }

.transparent-dark-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px; }

/*--------images----------*/
.with-large-image, .with-medium-image {
  height: 312px !important; }

@media only screen and (min-width: 760px) {
  .with-large-image {
    height: 780px !important; }
  .with-medium-image {
    height: 520px !important; } }

/*--------Grid-sizes----------*/
.one-unit-height, two-unit-height {
  height: 130px !important; }

.one-desktop-highlight-unit-height {
  height: 260px !important; }

@media only screen and (min-width: 760px) {
  .two-unit-height {
    height: 260px !important; } }

@media only screen and (min-width: 1025px) {
  .one-desktop-highlight-unit-height {
    height: 650px !important; } }

/*------------------*/
.underlined::after {
  content: '';
  display: block;
  height: 1px;
  max-width: 26px;
  width: 100%;
  margin: 0;
  background-color: #333; }

.big-underlined::after {
  content: '';
  display: block;
  height: 8px;
  max-width: 52px;
  width: 100%;
  margin-top: 13px;
  background-color: #333; }

.grid-headline .big-underlined {
  line-height: 34px;
  margin-top: 26px;
  font-family: 'Fira Sans';
  font-weight: 900;
  font-style: italic;
  margin-bottom: 26px;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: uppercase !important; }

.underlined {
  width: 100%; }

.second-color .underlined::after {
  background-color: #F9F7F2; }

/* mobil */
.only-mobil, .no-desktop, no-large-desktop {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.only-desktop, .only-large-desktop, .no-mobil, .no-mobil-and-tablet, only-mobil-and-tablet {
  display: none !important; }

/* tablet */
@media only screen and (min-width: 760px) {
  .no-mobil {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  only-mobil {
    display: none !important; }
  .only-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

/* big tablet */
/* desktop Monitore */
@media only screen and (min-width: 1024px) {
  .only-mobil-and-tablet, .no-desktop {
    display: none !important; }
  .no-mobil-and-tablet {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .only-desktop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@media only screen and (min-width: 1240px) {
  .no-large-desktop {
    display: none !important; }
  .only-large-desktop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@font-face {
  font-family: 'heuristicabold';
  font-style: normal;
  font-weight: 400;
  src: local("heuristica bold"), url(../fonts/heuristica-bold-webfont.woff) format("woff"); }

@font-face {
  font-family: 'Bebas Neue Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Bold"), url("../fonts/BEBASNEUE BOLD.woff") format("woff"); }

@font-face {
  font-family: 'Majesti Banner Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Majesti Banner Bold"), url(../fonts/Majesti-Banner-Bold.oft) format("oft"); }

.icon-twoto_logo:before {
  content: '\0041'; }

/* Generated by Glyphter (http://www.glyphter.com) on  Fri Feb 12 2016*/
@font-face {
  font-family: 'twotosymbols';
  src: url(../fonts/twotosymbols.eot);
  src: url(../fonts/twotosymbols.eot?#iefix) format("embedded-opentype"), url(../fonts/twotosymbols.woff) format("woff"), url(../fonts/twotosymbols.ttf) format("truetype"), url(../fonts/twotosymbols.svg#twotosymbols) format("svg");
  font-weight: 400;
  font-style: normal; }

[class*='icon-']:before {
  display: inline-block;
  font-family: 'twotosymbols';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo:before {
  content: '\0041'; }

.icon-close:before {
  content: '\0042'; }

/*------------------------------------*/
/* Typography */
/*------------------------------------*/
body, a .text-style {
  font-family: 'Fira Sans',sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  color: #333;
  text-transform: none;
  letter-spacing: 0; }

.bold {
  font-weight: bold; }

h1 {
  font-family: 'Majesti Banner Bold','heuristicabold',Georgia,serif;
  font-size: 48px;
  color: #333;
  line-height: 58px; }

h2 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #333;
  line-height: 38px; }

h3 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #333;
  line-height: 29px;
  font-style: italic; }

h4 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #333;
  line-height: 18px;
  font-style: italic;
  text-transform: uppercase; }

h5 {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #333;
  line-height: 34px; }

h6 {
  font-family: 'Bebas Neue Bold',sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 26px;
  text-decoration: none; }

a .underlined {
  text-transform: uppercase;
  letter-spacing: 1px; }

q, blockquote {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  line-height: 26px;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }

sup {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  color: #F9F7F2; }

/*------------secondary Texts------------------*/
.info, .footer-txt, .footer-txt a {
  font-family: 'Fira Sans',sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #333;
  line-height: 14px;
  letter-spacing: 1px;
  font-style: normal; }

.footer-txt, .footer-txt a {
  font-size: 10px;
  text-transform: none !important; }

sup.label-next {
  font-size: .75rem;
  line-height: inherit; }

.pattern-horizontal {
  position: fixed;
  height: 100%;
  width: 100%;
  max-width: 1240px;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 25%;
  background-image: -webkit-linear-gradient(0, transparent 50%, rgba(255, 0, 171, 0.05) 50%);
  z-index: 1000;
  pointer-events: none;
  display: none; }

.pattern-vertical {
  position: absolute;
  top: 0;
  height: 1240px;
  width: 1240px;
  max-height: 1240px;
  max-width: 1240px;
  background-color: rgba(212, 153, 162, 0.05);
  background-size: 13px;
  background-image: -webkit-linear-gradient(90deg, transparent 1px, rgba(255, 0, 171, 0.05) 1px);
  z-index: 2002;
  pointer-events: none;
  display: none; }

/*------------------------------------*/
/* menu Navigation */
/*------------------------------------*/
body {
  position: relative;
  overflow: visible; }

body.nav-is-visible {
  position: fixed; }

header {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  font-size: 34px; }

.header-left .info, .logo {
  color: #333; }

.nav-is-visible .header-left .info, .nav-is-visible .logo {
  color: #F9F7F2; }

.nav-is-visible .second-menu-wrapper {
  visibility: hidden; }

.icon-close-inverted {
  /*Set font family style as sample*/
  font-family: twotosymbols !important;
  color: #F9F7F2;
  font-size: 100%;
  padding-top: 19px;
  padding-left: 1px;
  font-style: normal;
  text-align: center;
  /* cool effect
    font-style: italic;
    width: 56px;
    */ }

.menu-wrapper {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 65px;
  height: 65px; }

.nav-main {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(51, 51, 51, 0.98);
  overflow: auto;
  text-align: center;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; }

.nav span {
  background-color: transparent;
  font-size: 12px; }

.nav-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main li.nav-placeholder {
  height: 56px; }

.nav-main li.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-main li.info p {
  color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.nav-main li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.nav-main .header-left {
  position: fixed;
  top: 0; }

.nav-main li, .nav-main li h3 {
  color: #F9F7F2;
  font-style: italic; }

.nav-main li a h3 {
  text-transform: uppercase; }

.nav-main li a h3 {
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative; }

.nav-main li a:hover h3 {
  background-color: rgba(249, 247, 242, 0.8); }

.navi-selected a h3 {
  color: gray; }

.navi-selected a:hover h3 {
  background-color: #333 !important; }

.menu-open, .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.menu-center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer; }

.menu-close {
  display: none; }

.nav-is-visible .menu-close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-is-visible .menu-open {
  display: none; }

.menu-open a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.menu-open h6 {
  color: #333;
  padding-top: 2px; }

.header-left {
  /*flex:2 50%;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px; }

.header-left .info {
  text-transform: uppercase;
  padding: 0;
  padding-left: 8px;
  padding-top: 6px; }

.navigation-elts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 25%;
      -ms-flex: 1 25%;
          flex: 1 25%;
  height: inherit; }

.navigation-elts .nav-placeholder {
  -webkit-box-flex: 2;
  -webkit-flex: 2 50%;
      -ms-flex: 2 50%;
          flex: 2 50%;
  height: inherit; }

.navigation-right {
  display: none; }

.nav-main li a:hover h3 {
  background-color: transparent; }

.menu-button .underlined {
  display: inline-block;
  width: inherit; }

.nav-quote-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  line-height: 20vw;
  text-align: center;
  background: none; }

.nav-quote-bg h2 {
  font-family: 'heuristicabold',Georgia,serif;
  font-family: 'Fira Sans',sans-serif;
  font-weight: 800;
  font-size: 70px;
  font-size: 15vw;
  margin: 0;
  box-sizing: border-box;
  padding-top: 104px;
  padding-top: 17vw;
  color: rgba(249, 247, 242, 0.1);
  text-transform: uppercase;
  font-style: italic; }

.nav-quote-bg {
  width: 100%;
  height: 100%;
  visibility: hidden; }

.nav-is-visible .nav-quote-bg {
  visibility: visible; }

/*effects - without animations*/
/*------------------------------------*/
.nav-hover-bg-effect {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(80, 227, 194, 0.5); }

a.hover-effect .underlined::after, .hover-effect .underlined::after {
  max-width: 0; }

a.hover-effect:hover .underlined::after, .hover-effect:hover .underlined::after {
  max-width: 100%; }

/* Tabletts */
@media only screen and (min-width: 760px) {
  .nav-quote-bg h2 {
    font-size: 120px;
    font-size: 15vw; } }

/* mobil and Tablets only*/
/* desktop Monitore */
@media only screen and (min-width: 1025px) {
  .header {
    position: fixed; }
  body.nav-is-visible {
    position: relative; }
  .nav-quote-bg h2 {
    font-size: 170px;
    font-size: 15vw;
    padding-top: 13vw; }
  .nav-intro {
    visibility: hidden; }
  .menu-wrapper {
    margin: auto;
    right: 0;
    left: 0;
    bottom: auto;
    top: 19px; } }

@media only screen and (max-height: 701px) and (min-width: 1025px) {
  .menu-out {
    left: auto;
    top: auto;
    right: 26px;
    bottom: 26px; }
  .nav-intro {
    visibility: visible; } }

/*------------------------------------*    $MAIN
\*------------------------------------*/
body {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px; }

.header-left .info, .logo {
  color: #F9F7F2;
  /* special case for dark start*/ }

.space-under-header {
  height: 52px;
  width: 100%; }

.grid-content {
  position: absolute;
  top: 0;
  width: 100%; }

.grid-content.hide-content {
  display: none; }

.grid-center-elt .second-color-txt h4, .grid-center-elt .second-color-txt .info {
  color: #F9F7F2; }

.grid-center-elt .first-color-txt h4, .grid-center-elt .first-color-txt .info {
  color: #333; }

sup.label-next {
  vertical-align: bottom;
  top: auto;
  bottom: 1px;
  padding: 1px 6px;
  margin-left: 0;
  background-color: #50E3C2;
  color: #F9F7F2; }

main {
  position: relative;
  display: block;
  height: 100%; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 26px; }

.info.footer-txt, .info.footer-txt a {
  padding-top: 0; }

.mobil-footer .footer-txt a {
  color: rgba(249, 247, 242, 0.5); }

footer .info, footer {
  padding-left: 0; }

.footer-txt sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: 2px; }

.mobil-footer {
  position: absolute;
  bottom: 0;
  padding-left: 13px;
  padding-bottom: 13px; }

.mobil-footer .footer-txt, .mobil-footer sup {
  color: rgba(249, 247, 242, 0.5); }

footer sup {
  color: #333; }

/*------------------------------------*/
/* Grid Layout */
/*------------------------------------*/
/*units*/
/*------------------------------------*/
.grid-one-unit, .grid-two-unit, .grid-three-unit {
  -webkit-box-flex: 4;
  -webkit-flex: 4 100%;
      -ms-flex: 4 100%;
          flex: 4 100%;
  height: 260px; }

.grid-desktop-highlight .grid-two-unit {
  height: 520px; }

.grid-image, .grid-headline, .centered-image {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
          flex: 1 50%; }

.grid-headline {
  height: 260px; }

.grid-center-elt {
  height: 260px; }

/*grid*/
/*------------------------------------*/
.grid-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.grid-elt {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.grid-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }

.gradient-bg {
  background: -webkit-linear-gradient(350deg, rgba(217, 137, 198, 0.01) 10%, rgba(80, 227, 194, 0.6) 100%);
  background: linear-gradient(100deg, rgba(217, 137, 198, 0.01) 10%, rgba(80, 227, 194, 0.6) 100%); }

.intro-quote {
  box-sizing: border-box;
  padding: 0 13px 13px; }

.grid-intro {
  height: 572px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block; }

.grid-intro img {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0; }

.intro-quote h1 {
  padding-bottom: 13px;
  font-size: 29px;
  line-height: 31px;
  font-size: 7.8vw;
  line-height: 8.3vw; }

.grid-image img {
  width: 100%;
  height: 100%; }

.grid-info .grid-center-elt {
  box-sizing: border-box;
  padding: 13px; }

.info-bottom {
  padding-top: 15px;
  font-style: italic;
  letter-spacing: 1px; }

.grid-project .info-bottom {
  font-style: normal;
  text-transform: uppercase; }

.grid-headline {
  margin-top: auto;
  text-align: left; }

a.hover-effect {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.grid-headline-top {
  box-sizing: border-box;
  padding: 13px 13px 0; }

.grid-headline-top h1 {
  font-size: 24px;
  line-height: 34px;
  padding-top: 16px;
  padding-bottom: 27px;
  text-transform: none; }

.grid-headline-top h3 {
  padding-top: 16px;
  padding-bottom: 27px; }

.grid-headline-bottom {
  box-sizing: border-box;
  padding-bottom: 19px;
  padding-left: 13px;
  width: inherit; }

.grid-center-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 26px; }

.grid-project .grid-center-elt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.grid-info .grid-center-elt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.grid-headline-bottom .underlined, .grid-center-elt .underlined {
  display: inline-block;
  width: inherit; }

.inverted-effect:hover .inverted-target-effect {
  background-color: rgba(249, 247, 242, 0.8) !important; }

.inverted-second-effect:hover .inverted-target-second-effect {
  background-color: #24dcb3 !important; }

.hover-preview-effect {
  overflow: hidden; }

.centered-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align horizontal */
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* align vertical */
  width: 100%;
  overflow: hidden; }

.centered-image img {
  width: 100%;
  height: auto; }

/*-----------------*/
/* static-bg*/
/*-----------------*/
.static-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 20vw;
  text-align: center;
  pointer-events: none; }

.first-gradient-bg {
  height: 234px;
  width: 100%;
  background: transparent;
  margin-top: -52px; }

/*-----------------*/
/* @media
/*-----------------*/
@media only screen and (max-width: 761px) {
  .intro-quote h1 {
    font-size: 24px;
    line-height: 26px;
    font-size: 6vw;
    line-height: 6.5vw; } }

/* Tablets */
@media only screen and (min-width: 760px) {
  .grid-one-unit {
    -webkit-box-flex: 2;
    -webkit-flex: 2 50%;
        -ms-flex: 2 50%;
            flex: 2 50%;
    height: 260px; }
  .grid-two-unit {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    height: 260px; }
  .grid-desktop-highlight .grid-two-unit, .grid-desktop-highlight .grid-headline, .grid-desktop-highlight .grid-image, .grid-desktop-highlight .centered-image {
    height: 260px;
    -webkit-box-flex: 2;
    -webkit-flex: 2 50%;
        -ms-flex: 2 50%;
            flex: 2 50%; }
  .grid-desktop-highlight .grid-image img {
    width: 100%;
    height: auto; }
  .grid-desktop-highlight-content .grid-image img {
    width: 100%;
    height: 100%; }
  .grid-desktop-highlight {
    width: 100%; }
  .grid-three-unit {
    -webkit-box-flex: 3;
    -webkit-flex: 3 75%;
        -ms-flex: 3 75%;
            flex: 3 75%;
    height: 260px; }
  .grid-four-unit {
    -webkit-box-flex: 4;
    -webkit-flex: 4 100%;
        -ms-flex: 4 100%;
            flex: 4 100%;
    height: 260px; }
  .grid-highlight {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }
  .grid-headline, .grid-image, .centered-image {
    -webkit-box-flex: 2;
    -webkit-flex: 2 50%;
        -ms-flex: 2 50%;
            flex: 2 50%; }
  .intro-quote h1 {
    font-size: 55px;
    line-height: 59px;
    font-size: 6.8vw;
    line-height: 7.3vw; }
  .grid-desktop-highlight-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }
  .grid-desktop-highlight-content .grid-image img {
    height: auto;
    width: 100%; }
  .grid-desktop-highlight-content .grid-info {
    background-color: #fcfbf9; }
  .highlight-contact {
    display: none; }
  .first-gradient-bg {
    width: 100%;
    height: 234px; }
  .second-gradient-bg {
    display: block;
    width: 50%; } }

/* desktop Monitore */
@media only screen and (min-width: 1024px) {
  header {
    position: fixed; }
  .logo, .header-left .info {
    color: #333; }
  .grid-content {
    position: relative;
    top: 0; }
  .grid-desktop-highlight .grid-image, .grid-desktop-highlight .centered-image {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%; }
  .grid-desktop-highlight .grid-one-unit, .grid-desktop-highlight .grid-two-unit, .grid-desktop-highlight .grid-headline {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }
  .grid-desktop-highlight-content .grid-image, .grid-desktop-highlight-content .centered-image, .grid-desktop-highlight-content .grid-info {
    -webkit-box-flex: 4;
    -webkit-flex: 4 100%;
        -ms-flex: 4 100%;
            flex: 4 100%;
    height: 260px; }
  .grid-desktop-highlight-content .grid-one-unit {
    -webkit-box-flex: 2;
    -webkit-flex: 2 50%;
        -ms-flex: 2 50%;
            flex: 2 50%; }
  .grid-desktop-highlight .grid-image img {
    height: 100%;
    width: auto; }
  .grid-desktop-highlight-content .grid-image img {
    height: auto;
    width: 100%; }
  .grid-one-unit {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%; }
  .grid-headline-top, .grid-headline-bottom, .grid-info .grid-center-elt {
    padding-left: 26px;
    padding-right: 26px; }
  .grid-two-unit {
    -webkit-box-flex: 2;
    -webkit-flex: 2 50%;
        -ms-flex: 2 50%;
            flex: 2 50%; }
  .grid-intro, .grid-desktop-highlight {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%; }
  .grid-intro {
    height: 572px; }
  .highlight-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .intro-quote h1 {
    font-size: 64px;
    line-height: 68px;
    font-size: 6.2vw;
    line-height: 6.8vw; }
  .first-gradient-bg {
    width: 75%;
    height: 624px; }
  .grid-highlight .centered-image img {
    width: 100%;
    height: auto; } }

@media only screen and (min-width: max_widthStage) {
  .intro-quote h1 {
    font-size: 84px;
    line-height: 90px; }
  .static-bg h2 {
    font-size: 260px !important; } }

.nav-is-visible .nav-main {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.54, 0.19, 1);
          transition-timing-function: cubic-bezier(0.55, 0.54, 0.19, 1); }

.nav-main {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: cubic-bezier(0.81, 0, 0.5, 0.5);
          transition-timing-function: cubic-bezier(0.81, 0, 0.5, 0.5); }

.touch .nav-is-visible .nav-quote-bg, .no-touch .nav-is-visible .nav-quote-bg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99);
          transition-timing-function: cubic-bezier(0, 0.55, 0.49, 0.99); }

.touch .header-left .info, .touch .logo, .no-touch .header-left .info, .no-touch .logo {
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }

.touch .nav-is-visible .header-left .info, .touch .nav-is-visible .logo, .no-touch .nav-is-visible .header-left .info, .no-touch .nav-is-visible .logo {
  color: #F9F7F2;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

.touch .nav-is-visible .second-menu-wrapper, .no-touch .nav-is-visible .second-menu-wrapper {
  opacity: 0; }

.touch .second-menu-wrapper, .no-touch .second-menu-wrapper {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: .6s;
          transition-delay: .6s; }

.touch .right-navi-is-open .main-content, .no-touch .right-navi-is-open .main-content {
  opacity: .1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.touch .main-content, .no-touch .main-content {
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

@media only screen and (min-width: 760px) {
  .no-touch .underlined:after {
    max-width: 52px;
    -webkit-transition: width .5s;
    transition: width .5s;
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .menu-button .underlined:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(0);
            transform: scaleX(0); }
  .no-touch a.hover-effect:hover .underlined::after, .no-touch .hover-effect:hover .underlined::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .inverted-effect:hover .inverted-target-effect {
    box-shadow: inset 0 0 0 170px rgba(249, 247, 242, 0.8);
    -webkit-transition: box-shadow .7s;
    transition: box-shadow .7s; }
  .no-touch .inverted-effect .inverted-target-effect {
    box-shadow: inset 0 0 0 #24dcb3;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .inverted-second-effect:hover .inverted-target-second-effect {
    box-shadow: inset 0 0 0 170px rgba(51, 51, 51, 0.7);
    -webkit-transition: box-shadow 1.7s;
    transition: box-shadow 1.7s; }
  .no-touch .inverted-second-effect .inverted-target-second-effect {
    box-shadow: inset 0 0 0 #24dcb3;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .hover-preview-effect:hover .grid-center-elt.with-image {
    box-shadow: inset 0 0 0 140px rgba(80, 227, 194, 0.5);
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .hover-preview-effect .grid-center-elt.with-image {
    box-shadow: inset 0 0 0 0 #24dcb3;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .hover-preview-effect:hover .grid-center-elt {
    box-shadow: inset 0 0 0 150px #24dcb3;
    -webkit-transition: box-shadow .4s;
    transition: box-shadow .4s; }
  .no-touch .hover-preview-effect:hover .first-color-txt h4, .no-touch .hover-preview-effect:hover .first-color-txt p {
    color: #F9F7F2; }
  .no-touch .hover-preview-effect .grid-image {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .hover-preview-effect:hover .grid-image {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .no-touch .hover-preview-effect .first-color-txt, .no-touch .hover-preview-effect .second-color-txt {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .hover-preview-effect:hover .first-color-txt, .no-touch .hover-preview-effect:hover .second-color-txt {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s; }
  .no-touch .hover-zoomUp-effect .target-effect {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .hover-zoomUp-effect:hover .target-effect {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .no-touch .nav-hover-bg-effect {
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; }
  .no-touch .nav-elt:hover .nav-hover-bg-effect {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; } }

@media only screen and (min-width: 760px) {
  /*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
  .first-gradient-bg {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1); } }

@media only screen and (min-width: 760px) and (min-width: 1025px) {
  .first-gradient-bg {
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1); } }

/*-----------------*/
/* index*/
/*-----------------*/
.static-bg {
  z-index: 0; }

.nav {
  z-index: 1; }

.light-shadow {
  z-index: 4; }

.grid-image, .centered-image, .grid-headline, .grid-project .grid-center-elt, .grid-center-elt q, .grid-info a {
  z-index: 49; }

.grid-project .grid-center-elt {
  z-index: 50; }

.open-side-navi {
  z-index: 100; }

.nav-main {
  z-index: 110; }

.menu-wrapper {
  z-index: 500; }

.second-menu-wrapper {
  z-index: 501; }

header {
  z-index: 6000; }
