

.grid-image img.with-blend-mode-effect {
	////mix-blend-mode:screen;
	//background-color:transparentize($second_color,0.1);
	mix-blend-mode:multiply;
}

.grid-image {
	background-color:$blend-mode-color;
}

.first-gradient-bg {
	background:$gradient_opposite_color;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1);
}

.second-gradient-bg {
	background:$gradient_color;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e32020',endColorstr='#4a9aea',GradientType=1);
}

.static-bg {
	mix-blend-mode:multiply;
}