@media only screen and (min-width: 760px) {

.grid-image img.with-blend-mode-effect {
	//mix-blend-mode:overlay;
}

/*
	/* Keyword values 
mix-blend-mode: normal;
mix-blend-mode: multiply; !!
mix-blend-mode: screen;
mix-blend-mode: overlay; !!
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light; !!
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; !!

*/
.grid-image {
	//background-color:$blend-mode-color;
}

.first-gradient-bg {
	background:none;//$first_transparent_dark_color; /* $gradient_opposite_second_color;*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1);
}
@media only screen and (min-width: 1025px) {
	.first-gradient-bg {
	background:none;//$first_transparent_dark_color;/*$gradient_opposite_color;*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea',endColorstr='#e32020',GradientType=1);
}
}

.second-gradient-bg {
	//background:$gradient_color;
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e32020',endColorstr='#4a9aea',GradientType=1);
}

.static-bg {
	//mix-blend-mode:multiply;
}
}