@import 'variables';
@import 'general';
@import 'fonts';
@import 'pattern';
@import 'navigation';
@import 'secondaryNavigation';


/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html,body {
	height:100%;
}
body {
	position:relative;
	margin:0 auto;
	width:100%;
	overflow-x: hidden;
}
.header{
	position:relative;
	margin:0 auto;
	width: inherit;
	max-width:$max_widthStage;

}
.main-content{
	position:relative;
	margin:0 auto;
	width: 100%;
	max-width:$max_widthStage;
	transform:translateX(0);
	transition-property:transform;
	transition-duration:.4s;
	transition-timing-function:ease;
	
	padding: 0px 13px 13px 0;
}
.right-navi-is-open .main-content{
	transform:translateX(-25%);
	width: 50%;
    padding-right: 14%;
    padding-left: 0;
}
.headline {
	text-align: center;
	margin:0 auto;
	position:relative;
	box-sizing: border-box;
	padding-top: 26px;
	max-width: 26px*34;
	
}
.introduction{
	text-align: center;
	margin:0 auto;
	padding-top: 26px*2;
	max-width: 26px*24;
}
.simple-copy {
	margin:0 auto;
	max-width: 26px*24;
	padding-top: 26px*2;

	}
.simple-copy,.introduction,.headline {
	padding-left: 13px;
	padding-right: 13px;
}
//specific elts

.grid-elt {
	position:relative;
	display:flex;
	flex-direction:column;
	
	height:260px;
	overflow: hidden;
}

.grid-center-elt{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 26px;
}
.grid-project .grid-center-elt{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 49;
	padding: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
} 
.grid-center-elt .second-color-txt h4,.grid-center-elt .second-color-txt .info {
	color:$second_typo_color;
}
.grid-center-elt .first-color-txt h4,.grid-center-elt .first-color-txt .info {
	color:$first_typo_color;
}

.grid-image {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	background-color:$first_color;
}
.grid-image img {
	width:100%;
}
@media only screen and (min-width: 760px) {
	.headline {
		padding-top: 26px*4;
	}
}


/*------------------------------------*\
    $END
\*------------------------------------*/

@import 'animations';
@import 'blendmodes';
@import 'indexing';