/*color*/
/*------------------------------------*/
body {
	background-color:$first_background_color;
}

.second-color {
	background-color:$second_background_color!important;
	color:$second_typo_line_color!important;
}
.highlight-color{
	background-color: $highlight_color;
	
}
.second-color a {
	color:$second_typo_color;
}
.first-darker-background {
	background-color:$first_darker_background_color;
}
.first-color-txt{
	color:$first_typo_color !important;
}
.second-color-txt{
	color:$second_typo_color !important;
}

.first-background {
	background-color:$first_background_color !important;
}
.second-background {
	background-color:$second_background_color !important;
}.third-background {
	background-color:$third_background_color !important;
}

.lighter-background {
	background-color:$first_lighter_background_color;
}

/*-------------------*/

.second-big-line {
	background-color:$first_typo_line_color;
	width:52px;
	height:4px;
}

.light-shadow {
	box-shadow:0px 1px 10px 0 $first_shadow_color;
}
.circle,.dark-circle {
	border-radius:50%;
	width:65px;
	height:65px;
}

.dark-circle-with-border {
	border-radius:50%;
	width:65px;
	height:65px;
	//border:1px solid $second_circle_color;
	box-shadow: inset 0 0  1px $second_circle_color;
}

/*--------images----------*/
.with-large-image,.with-medium-image{
	height: 312px !important; 
}

@media only screen and (min-width: 760px) {
.with-large-image{
	height: 780px !important;
}
.with-medium-image{
	height: 520px !important;
}
}
/*------------------*/

.underlined::after {
	content:'';
	display:block;
	height:1px;
	max-width:26px;
	width:100%;
	margin:0;
	background-color: $first_typo_line_color;
}

.underlined {
	width: 100%;
}
.second-color .underlined::after {
	background-color: $second_typo_line_color;
	}
/* mobil */
.only-mobil,.no-desktop,no-large-desktop {
		display:flex !important;
}
.only-desktop,.only-large-desktop,.no-mobil,.no-mobil-and-tablet,only-mobil-and-tablet {
	display:none !important;
}
/* tablet */
@media only screen and (min-width: 760px) {
	
	.no-mobil {
		display:flex !important;
	}
	only-mobil {
		display:none !important;
	}
	.only-mobil-and-tablet {
		display:flex !important;
	}
}
/* big tablet */
@media only screen and (min-width: 980px) {
	
	
}
/* desktop Monitore */
@media only screen and (min-width: 1024px) {
	.only-mobil-and-tablet,.no-desktop  {
		display:none !important;
	}
	.no-mobil-and-tablet {
		display:flex !important;
}
	.only-desktop {
				display:flex !important;
	}
}
@media only screen and (min-width:$max_widthStage) {
	.no-large-desktop{
		display:none !important;
	}
	.only-large-desktop {
				display:flex !important;
	}
}
