/*------------------------------------*\
    $MAIN
\*------------------------------------*/
body {
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:$max_widthStage;
}
.grid-content {
	position:relative;
	top:0;
	width:100%;
}

.grid-content.hide-content {
	display:none;
}

.grid-center-elt .second-color-txt h4,.grid-center-elt .second-color-txt .info {
	color:$second_typo_color;
}
.grid-center-elt .first-color-txt h4,.grid-center-elt .first-color-txt .info {
	color:$first_typo_color;
}

sup.label-next {
	vertical-align:bottom;
	top:auto;
	bottom:1px;
	padding:1px 6px;
	margin-left:0;
	background-color:$highlight_color;
	color: $second_typo_color;
}


main {
	position:relative;
	display:block;
	height:100%;
}

.footer {
	position:relative;
	bottom:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	text-align:center;
	padding-top:13px;
	padding-bottom:26px;
}

.info.footer-txt,.info.footer-txt a {
	padding-top:0;
}

footer .info,footer {
	padding-left:0;
}

.footer-txt sup {
	line-height:0;
	position:relative;
	vertical-align:baseline;
	top:2px;
}

.mobil-footer {
	padding-left:13px;
	padding-bottom:13px;
	//background-color:#ff0;
}

.mobil-footer .footer-txt {
	color:$second_typo_color;
}

footer sup {
	color:$first_typo_color;
}

/*------------------------------------*/
/* Grid Layout */
/*------------------------------------*/
/*units*/
/*------------------------------------*/
.grid-one-unit,.grid-two-unit,.grid-three-unit {
	flex:4 100%;
	height:260px;
}

.grid-desktop-highlight .grid-two-unit {
	height:520px;
}

.grid-center-elt{
	height:260px;
}
/*grid*/
/*------------------------------------*/
.grid-content {
	display:flex;
	flex-wrap:wrap;
}

.grid-elt {
	position:relative;
	display:flex;
	flex-direction:column;
}

.grid-image {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	
}

.gradient-bg {
	background:$gradient_opposite_color;
}

.intro-quote {
	box-sizing:border-box;
	padding:0 13px 13px;
}
.grid-intro img {
	position: relative;
	max-width: 620px;
	max-height: 624px;
	top: -52px;
	right: 0;
	background-color: $gradient_first_color;
	text-align: center;
}
.grid-intro {
	height:130px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	//overflow: hidden;
	}

.intro-quote h1 {
	padding-bottom:13px;
	font-size:29px;
	line-height:31px;
	font-size:7.8vw;
	line-height:8.3vw;
}

.grid-image img {
	width:100%;
	height: 100%;
}

.grid-info .grid-center-elt{
	box-sizing:border-box;
	padding:13px;
}

.info-bottom {
	padding-top:15px;
}

.grid-headline {
	margin-top:auto;
	text-align:left;


}
a.hover-effect{	
	height: inherit;
	
	display:flex;
	flex-grow: 1;
	flex-direction:column;
	justify-content: space-between;
}

.grid-headline-top {
	box-sizing:border-box;
	padding:24px 13px 0;
}

.grid-headline-top h3 {
	padding-top:16px;
	padding-bottom:27px;
}

.grid-headline-bottom {
	
	box-sizing:border-box;
	padding-bottom:19px;
	padding-left:13px;
	width: inherit;
}
.grid-center-elt{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 26px;
}
.grid-project .grid-center-elt{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 49;
	padding: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}	
.grid-info .grid-center-elt{
	display: flex;
	flex-direction: row;
	
	}

.grid-headline-bottom .underlined,.grid-center-elt .underlined, .menu-button .underlined{
	display:inline-block;
	width: inherit;
	
}
a.hover-effect:hover  .underlined::after, .hover-effect:hover  .underlined::after{
	max-width:inherit;
	}	
.inverted-effect:hover .inverted-target-effect{
	background-color: $first_transparent_dark_color !important;
	
}
.inverted-second-effect:hover .inverted-target-second-effect{
	background-color: $highlight_dark_color!important;
	// just experimenting - background: url(../imgs/pattern.svg) repeat top left !important;
	
}

.hover-preview-effect {
	overflow:hidden;
}

/*-----------------*/
/* static-bg*/
/*-----------------*/
.static-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	line-height:20vw;
	text-align:center;
	pointer-events:none;
}
.first-gradient-bg {
	height: 26px*9;
	width:100%;
	background:transparent;
	margin-top: -52px;
}
/*---not used
.second-gradient-bg {
	position:fixed;
	top:0;
	bottom:auto;
	left:auto;
	right:0;
	height:100%;
	width:50%;
	background:transparent;
	display:none;
}
*/
/*-----------------*/
/* @media
/*-----------------*/
@media only screen and (max-width: 761px) {
	.intro-quote h1 {
		font-size:24px;
		line-height:26px;
		font-size:6vw;
		line-height:6.5vw;
	}
}

/* Tabletts */
@media only screen and (min-width: 760px) {
	.grid-one-unit {
		flex:2 50%;
		height:260px;
	}
	
	.grid-two-unit {
		flex:4 100%;
		height:260px;
	}
	
	.grid-desktop-highlight .grid-two-unit,.grid-desktop-highlight .grid-headline,.grid-desktop-highlight .grid-image {
		height:312px;
	}
	
	.grid-desktop-highlight {
		width:100%;
	}
	
	.grid-three-unit {
		flex:3 75%;
		height:260px;
	}
	
	.grid-four-unit {
		flex:4 100%;
		height:260px;
	}
	
	.grid-highlight {
		flex-direction:row;
		flex:4 100%;
	}
	
	.grid-headline,.grid-image {
		flex:2;
	}
	
	.grid-intro {
		//height:182px;
	}
	
	.no-mobil {
		display:flex;
	}
	
	.intro-quote h1 {
		font-size:55px;
		line-height:59px;
		font-size:6.8vw;
		line-height:7.3vw;
	}

	
	.grid-desktop-highlight-content {
		display:flex;
		flex-direction:row;
		flex:2 50%;
	}
	
	.grid-desktop-highlight-content .grid-info {
		background-color:$first_lighter_background_color;
	}
	
	.highlight-contact {
		display:none;
	}
	
	.first-gradient-bg {
		width:100%;
		height: 26px*9;
	}
	
	.second-gradient-bg {
		display:block;
		width:50%;
	}
}

/* Mittlere Monitore */
@media only screen and (max-width: 1023px) {
	.no-tablet {
		display:none;
	}
}

/*
@media only screen and (min-width: 980px) {
	.grid-headline-top,.grid-headline-bottom,.grid-info .grid-center-elt {
		padding-left:26px;
		padding-right: 26px;
	}
	
	.grid-two-unit {
		flex:2 50%;
	}
}

/* desktop Monitore */


@media only screen and (min-width: 1024px) {
	.grid-one-unit {
		flex:1 25%;
	}
	.grid-headline-top,.grid-headline-bottom,.grid-info .grid-center-elt {
		padding-left:26px;
		padding-right: 26px;
	}
	
	.grid-two-unit {
		flex:2 50%;
	}
	.grid-intro,.grid-desktop-highlight {
		flex:2 50%;
		//-image
		//height:572px;
	}
	.grid-intro {
		width: 0;
		height: 0;
		background-color: blue;
	}
	.grid-intro img{
	}
	
	.highlight-contact {
		display:flex;
	}	
	.intro-quote h1 {
		font-size:64px;
		line-height:68px;
		font-size:6.2vw;
		line-height:6.8vw;
	}
	.first-gradient-bg {
		width:75%;
		height: 26px*24;
	}
}

@media only screen and (min-width: $max_widthStage) {
	.intro-quote h1 {
		font-size:84px;
		line-height:90px;
	}

	.static-bg h2 {
		font-size:260px!important;
	}
}