@import 'variables';
@import 'general';
@import 'fonts';
@import 'pattern';
@import 'navigation';


/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html,body {
	height:100%;
}
body {
	position:relative;
	margin:0 auto;
	width:100%;
}


.main-container {
	position:fixed;
	left:0;
	top:auto;
	bottom:0;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}

.open-side-navi {
	position:fixed;
	top:0;
	bottom:auto;
	right:0;
	left:auto;
	font-size:12px;
	background-color:$first_color;
	padding:20px 13px 13px 13px;
}

.open-side-navi a:hover .contextual-navi {
	display:flex;
	flex:1;
}

.contextual-navi {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	overflow:hidden;
	overflow-y:scroll;
	transform:translateX(100%);
	transition-property:transform;
	transition-duration:.4s;
	transition-timing-function:ease;
	visibility:hidden;
}

.scroll-container {
	min-height:1000px;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	height:auto;
	width:100%;
	align-content:stretch;
	background-color:$first_color;
}

.contextual-navi-is-visible {
	transform:translateX(0);
	transition-property:transform;
	transition-duration:.4s;
	transition-timing-function:ease;
	background-color:#095d28;
	visibility:visible;
}

.preview {
	flex-grow:1;
	flex:1;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:center;
	background-color:#ff0;
}

@media only screen and (min-width: 760px) {
	.contextual-navi {
		width:364px;
	}
}

///
/*grid*/
/*------------------------------------*/
.grid-content {
	display:flex;
	flex-wrap:wrap;
		
}
.grid-content {
	position:relative;
	top:0;
	width:100%;	
}
.header{
	position:relative;
	margin:0 auto;
	width: inherit;
	max-width:$max_widthStage;

}
.movable{
	position:relative;
	margin:0 auto;
	width: inherit;
	max-width:$max_widthStage;
	transform:translateX(0);
	transition-property:transform;
	transition-duration:.4s;
	transition-timing-function:ease;
	
	padding: 0px 13px 0 13px;
}
.headline {
	text-align: center;
	margin:0 auto;
	position:relative;
	//margin:0 auto;
	//width:inherit;
	//max-width:$max_widthStage;
	box-sizing: border-box;
	padding-top: 26px*4;
	max-width: 26px*34;
	
}
.introduction{
	text-align: center;
	margin:0 auto;
	padding-top: 26px*2;
	max-width: 26px*24;
}
.simple-copy {
	margin:0 auto;
	max-width: 26px*24;
	padding-top: 26px*2;
	}
.contextual-navi-is-hidden {
	width: 50%;
	padding-right: 14%;
	padding-left: 0;
	transform:translateX(-25%);
}
.grid-image {
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	//background-color:$first_color;
	background:$gradient_opposite_color;
}
.grid-image img {
	width:100%;
}

.grid-center-elt{
	height:260px;
}

.grid-center-elt .second-color-txt h4,.grid-center-elt .second-color-txt .info {
	color:$second_typo_color;
}
.grid-center-elt .first-color-txt h4,.grid-center-elt .first-color-txt .info {
	color:$first_typo_color;
}
.grid-info .grid-center-elt {
	box-sizing:border-box;
	padding:13px;
}

.grid-center-elt{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 26px;
}
.grid-project .grid-center-elt{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	text-align: center;
	z-index: 49;
	padding: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.grid-info .grid-center-elt{
	display: flex;
	flex-direction: row;
	
	}

.grid-one-unit,.grid-two-unit,.grid-three-unit {
	
	height:260px;
	overflow: hidden;
}

.grid-highlight .grid-image,.grid-highlight .grid-headline,.grid-project .grid-image {
	height:260px;
}

.grid-image,.grid-headline,.grid-project .grid-center-elt,.grid-center-elt q,.grid-info a {
	z-index:49;
}
.grid-project .grid-center-elt{

	z-index: 50;
	}
.grid-elt {
	position:relative;
	display:flex;
	flex-direction:column;
}
.grid-project .grid-center-elt{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	text-align: center;
	z-index: 49;
	padding: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
@import 'animations';
@import 'blendmodes';
@import 'indexing';