/*------------------------------------*\
    $VARIABLES in SCSS
\*------------------------------------*/

$height_grid:26px;
$half_height_grid:$height_grid/2;

$max_widthStage:1240px;

/*local Colors definitions*/

// beige - grey
/*
$first_color: rgba(243, 242, 238, 1);
$second_color: rgba(51, 51, 51, 1);
$third_color:blue; //blue
/**/
// green - blue
/*
$first_color:#1CAF9A;
$second_color:#1D2939;
/**/
// white - grey
/*
$first_color:white;
$second_color:#111;
/**/
// pink - blue
/*local Colors definitions*/

// beige - grey
/*
$first_color: rgba(243, 242, 238, 1);
$second_color: rgba(51, 51, 51, 1);
$third_color:blue; //blue
/**/
// green - blue
/*
$first_color:#1CAF9A;
$second_color:#1D2939;
/**/
// white - grey
/*
$first_color:white;
$second_color:#111;
/**/
// pink - blue
/*
$first_color:transparentize(#FFF797,0.1);
$second_color:#E84135; //red
$third_color:transparentize(#252164,0.1);
/*
$first_color:#1CAF9A; //pink
$second_color:#1D2939; //red
$third_color:white; //blue
/*+/

/*
$first_color: transparentize(#000, 0.01); //pink
$second_color:darken(#FF197F, 0.7); ; //red
$third_color:transparentize(#333, 0.5); //pink
/*
$first_color: transparentize(#333, 0.9); //pink
$second_color:#222; //red
$third_color:transparentize(#00FFFF, 0.3);

/*
$first_color:#FBDCE4; //pink
$second_color:#E84135; //red
$third_color:#252164; //blue
/*
$first_color:#1CAF9A; //pink
$second_color:#1D2939; //red
$third_color:white; //blue
/*

$first_color:#1CAF9A;
$second_color:#1D2939;
$third_color:white; //blue
/**/
/**/
.testColor{
	color: rgba(255, 255, 255, 0.2)
}
$first_color:rgba(241, 241, 241, 1); 
$second_color:#333333; //red
$third_color:#50E3C2; //blue

$highlight_color:$third_color; //
$highlight_dark_color:darken($third_color,10%); //
$highlight_transparent_color:rgba(0, 217, 170, 0.5); //

/**/
$blend-mode-color: transparentize($highlight_color, 0.2);
// shadow
$shadow_color:rgba(0,0,0,0.10);
/*
$gradient_first_color:rgba(238, 238, 226, 0.2);
$gradient_second_color:rgba(226, 199, 171, 0.2);
/*
$gradient_color:linear-gradient(135deg, $gradient_first_color 0%,$gradient_second_color 100%);
$gradient_opposite_color:linear-gradient(135deg, $gradient_second_color 0%, $gradient_first_color 100%);
/*
$gradient_color:linear-gradient(135deg, rgba(28,175,154,1) 0%, rgba(231,56,39,1) 100%);
$gradient_opposite_color:linear-gradient(135deg, rgba(73,155,234,0.4) 0%, rgba(227,32,32,0.2) 100%);
/**/

$gradient_first_color:transparentize($highlight_color, 0.4);//rgba(0, 179, 255, 1);
$gradient_second_color: rgba(217, 137, 198, 0.01);
$gradient_color:linear-gradient(165deg, $first_color 0%,$second_color 100%);
$gradient_opposite_color:linear-gradient(100deg, $gradient_second_color 10%, $gradient_first_color 100%);
$gradient_opposite_second_color:linear-gradient(20deg,transparentize($gradient_second_color, 0.4) 10%, transparentize($gradient_first_color,0.4) 100%);
/**/
/*local Colors settings*/


$first_light_color: lighten($first_color, 1%);
$first_featherlight_color: lighten($first_color, 2%);
$first_transparent_light_color: transparentize($first_color, 0.3);
$first_transparent_dark_color: transparentize($first_color, 0.2);


$second_lightHeavy_color: lighten($second_color, 30%);
$second_darker_color: darken($second_color, 10%);
$second_transparent_light_color:transparentize($second_color, 0.3);

/*global use*/

$first_typo_color: $second_color;
$first_typo_hover_color: $second_transparent_light_color;
$first_typo_line_color: $second_color;

$second_typo_color: $first_color;
$second_typo_selected_color: $second_lightHeavy_color;
$second_typo_info_color: $second_lightHeavy_color;
$second_typo_hover_color: $first_transparent_light_color;
$second_typo_hover_background_color: $first_transparent_dark_color;
$second_typo_line_color: $first_color;

$second_circle_color: $first_transparent_light_color;

$first_background_color:$first_color;
$first_lighter_background_color:$first_featherlight_color;
$first_darker_background_color:$first_light_color;
$second_background_color: $second_color;

$first_shadow_color : $shadow_color;

// frame

$frame_border_size:$half_height_grid;
$frame_border_color:$first_light_color;
$second_frame_border_color:$first_typo_color;




