@font-face {
	font-family:'Heuristica Regular';
	font-style:normal;
	font-weight:400;
	src:local('Heuristica Regular'),url(fonts/Heuristica-Regular.woff) format("woff");
}

@font-face {
	font-family:'Heuristica Bold';
	font-style:normal;
	font-weight:400;
	src:local('Heuristica Bold'),url(fonts/Heuristica-Bold.woff) format("woff");
}

@font-face {
	font-family:'Heuristica Bold Italic';
	font-style:normal;
	font-weight:400;
	src:local('Heuristica Bold Italic'),url(fonts/Heuristica-BoldItalic.woff) format("woff");
}

@font-face {
	font-family:'Heuristica Italic';
	font-style:normal;
	font-weight:400;
	src:local('Heuristica Italic'),url(fonts/Heuristica-Italic.woff) format("woff");
}

@font-face {
	font-family:'Bebas Neue Bold';
	font-style:normal;
	font-weight:400;
	src:local('Bebas Neue Bold'),url('fonts/BEBASNEUE BOLD.woff') format("woff");
}

/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	line-height:1;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:none;
}

/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */
/* remember to grid-highlight inserts somehow! */
ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
body {
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:1240px;
	font-family:'Fira Sans',sans-serif;
	font-weight:300;
	background-color:#F3F1EC;
	line-height:26px;
}

header {
	position:absolute;
	top:0;
	z-index:99;
}

section {
	position:absolute;
	top:0;
}

/*------------------------------------*/
/* Typography */
/*------------------------------------*/
h1 {
	font-family:'Heuristica Bold',Georgia,serif;
	font-size:48px;
	color:#333;
	line-height:58px;
}

h2 {
	font-family:'Fira Sans',sans-serif;
	font-weight:800;
	font-size:36px;
	color:#333;
	line-height:38px;
}

h3 {
	font-family:'Fira Sans',sans-serif;
	font-weight:800;
	font-size:24px;
	color:#333;
	line-height:29px;
}

h4 {
	font-family:'Fira Sans',sans-serif;
	font-weight:800;
	font-size:16px;
	color:#333;
	line-height:18px;
	font-style:italic;
	text-transform:uppercase;
}

h5 {
	font-family:'Fira Sans',sans-serif;
	font-weight:400;
	font-size:24px;
	color:#333;
	line-height:34px;
}

h6 {
	font-family:'Bebas Neue Bold',sans-serif;
	font-weight:300;
	font-style:italic;
	font-size:12px;
	color:#333;
	line-height:14px;
	text-transform:uppercase;
}

a,.introduction {
	font-family:'Fira Sans',sans-serif;
	font-weight:600;
	font-size:16px;
	color:#333;
	line-height:26px;
}

a {
	text-decoration:none;
}

a:hover {
	color:rgba(51,51,51,0.6);
}

.centered-elt a:hover {
	color:rgba(243,242,237,0.8);
}

a:hover h4 {
	color:rgba(51,51,51,0.8);
}

a:hover .centered-elt .underlined {
	border-bottom:2px solid rgba(51,51,51,0.8);
}

.info {
	font-family:'Fira Sans',sans-serif;
	font-weight:300;
	font-size:12px;
	color:#333;
	line-height:14px;
	font-style:italic;
}

q,blockquote {
	font-family:'Fira Sans',sans-serif;
	font-weight:600;
	font-size:16px;
	color:#333;
	line-height:26px;
	font-style:italic;
	quotes:"“" "”" "‘" "’";
}

.line-Under-Link {
	background-color:#D5D2CC;
	width:26px;
	height:1px;
	top:13px;
}

/*------------------------------------*/
/* menu Navigation */
/*------------------------------------*/
header {
	position:relative;
	display:flex;
	align-items:center;
}

.logo-small {
	width:34px;
	height:26px;
	padding:13px;
}

.MenuOverlay {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:0;
	z-index:10;
	display:flex;
	justify-content:center;
	background-color:red;
}

.menu {
	width:100px;
	height:100px;
	background-color:blue;
}

.navigation-info {
/*background-color: #FFF;*/
	flex:3 75%;
}

.navigation-info .info {
	text-transform:uppercase;
}

.navigation-container {
	display:flex;
/*background-color: #FFF;*/
	flex:1 25%;
}

.navigation-elts {
/*background-color: green;*/
}

.navigation-contact {
	justify-content:flex-end;
	padding-left:13px;
}

.navigation-container,.MenuOverlay {
	display:none;
}

/*------------------------------------*/
/* Grid Layout */
/*------------------------------------*/
/*units*/
/*------------------------------------*/
.one-grid-unit,.two-grid-unit,.three-grid-unit {
	flex:4 100%;
}

.one-height-unit {
	height:130px;
}

.half-height-unit {
	height:130px;
}

.grid-highlight .one-height-unit {
	height:260px;
}

.grid-quotation .one-height-unit,.txt-over-img .one-height-unit {
	height:260px;
}

/*grid*/
/*------------------------------------*/
.grid-content {
	display:flex;
	flex-wrap:wrap;
}

.grid-elt {
	position:relative;
	display:flex;
	flex-direction:column;
/*background-color: blue;*/
}

.grid-highlight {
	background-color:gray;
}

.grid-image {
	position:relative;
/*border:1px solid red;*/
	display:flex;
	justify-content:center;
/* align horizontal */
	align-items:center;
/* align vertical */
	overflow:hidden;
}

.grid-image img {
	width:100%;
}

.txt-over-img .centered-elt {
	position:absolute;
	top:0;
	left:0;
	right:0;
	text-align:center;
}

.txt-over-img .centered-elt .underlined {
	align-self:center;
	border-bottom:2px solid #333;
/*background-color:red;*/
}

.centered-elt {
	display:flex;
	justify-content:center;
	flex-direction:column;
	text-align:left;
}

.centered-elt .info {
	padding-top:13px;
}

.grid-quotation,.grid-contact {
	padding:13px;
}

.grid-info {
	margin-top:auto;
	text-align:left;
/*background-color:red;*/
	display:flex;
	flex-direction:column;
}

.grid-info-top {
	flex:1;
	padding-bottom:26px;
	padding-left:13px;
	padding-top:26px;
}

.grid-info-top .info {
	padding-bottom:13px;
}

.grid-info-top h4 {
	padding-bottom:13px;
}

.grid-info-bottom {
	padding-bottom:26px;
	padding-left:13px;
}

/*color*/
/*------------------------------------*/
.color-inverted {
	background-color:#333;
	color:#F3F1EC;
}

.color-inverted a {
	color:#F3F1EC;
}

/*
@media ( max-width: 700px ) {
	.one-grid-unit,.two-grid-unit,.three-grid-unit {
		flex:4 100%;
	}
	
	.grid-info {
		padding:13px;
	}
	
	.navigation-container,.MenuOverlay {
		display:none;
	}
	
	.navigation-info {
		align-self:center;
	}
	
	header {
		align-items:flex-start;
		height:52px;
	}
	.grid-highlight 	.one-height-unit {
	height:260px;
	}
	.one-height-unit {
	height:130px;
}
*/
/* Tabletts */
@media only screen and (min-width: 760px) {
	.reframe { max-width: 760px }	
.navigation-container {
		display:block;
	}
}

/* Mittlere Monitore */
@media only screen and (min-width: 980px) {
	.reframe { max-width: 980px }
		.navigation-container {
		display:block;
	}
}

/* Große Monitore */
@media only screen and (min-width: 1280px) {
	.reframe { max-width: 1280px }
		.navigation-container {
		display:block;
	}
}

@media only screen and ( min-width: 760px ) {
	.one-grid-unit {
		flex:1 25%;
	}
	
	.two-grid-unit {
		flex:2 50%;
	}
	
	.three-grid-unit {
		flex:3 75%;
	}
	
	.four-grid-unit {
		flex:4 100%;
	}
	
	.one-height-unit {
		height:260px;
	}
	
	.half-height-unit {
		height:130px;
	}
	
	.navigation-container {
		display:block;
	}
	
	.MenuOverlay {
		display:flex;
	}
	
	header {
		height:130px;
		align-items:center;
	}
	
	section {
		position:relative;
	}
	
	.grid-contact {
		display:none;
	}
	
	.grid-highlight {
		flex-direction:row-reverse;
		flex:4 100%;
	}
}