@font-face {
	font-family:'heuristicabold';
	font-style:normal;
	font-weight:400;
	src:local('heuristica bold'),url(fonts/heuristica-bold-webfont.woff) format("woff");
/*src:local(heuristicabold),url(fonts/heuristica-bold-webfont.woff) format("woff");*/
}

@font-face {
	font-family:'Bebas Neue Bold';
	font-style:normal;
	font-weight:400;
	src:local('Bebas Neue Bold'),url('fonts/BEBASNEUE BOLD.woff') format("woff");
}

@font-face {
	font-family:'Majesti Banner Bold';
	font-style:normal;
	font-weight:400;
	src:local('Majesti Banner Bold'),url(fonts/Majesti-Banner-Bold.oft) format("oft");
}